Repository decocms/mesh: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, lint

lefthook.yml:

# Lefthook configuration for mesh monorepo
# Install: npx lefthook install

pre-commit:
  parallel: true
  commands:
    fmt:
      glob: "*.{ts,tsx,js,jsx,json,md}"
      run: bunx biome format --write {staged_files}
      stage_fixed: true
    lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: bunx oxlint {staged_files}

feat(17-05): add RJSF widgets/templates, prop-editor, block-picker, loader-drawer
  packages/mesh-plugin-site-editor/client/components/block-picker.tsx
  packages/mesh-plugin-site-editor/client/components/loader-drawer.tsx
  packages/mesh-plugin-site-editor/client/components/prop-editor.tsx
  packages/mesh-plugin-site-editor/client/components/rjsf/templates.tsx
  packages/mesh-plugin-site-editor/client/components/rjsf/widgets.tsx
Due: fmt, lint

feat(17-05): add section-list-sidebar, preview-panel, and full page-composer
  packages/mesh-plugin-site-editor/client/components/block-picker.tsx
  packages/mesh-plugin-site-editor/client/components/loader-drawer.tsx
  packages/mesh-plugin-site-editor/client/components/page-composer.tsx
  packages/mesh-plugin-site-editor/client/components/preview-panel.tsx
  packages/mesh-plugin-site-editor/client/components/prop-editor.tsx
  packages/mesh-plugin-site-editor/client/components/rjsf/templates.tsx
  packages/mesh-plugin-site-editor/client/components/section-list-sidebar.tsx
Due: fmt, lint

docs(17-05): complete visual composer plan — page-composer, DnD sections, RJSF props, preview iframe
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/17-site-editor-plugin/17-05-SUMMARY.md
Due: fmt

feat(17-06): footer bar with git UX, commit dialog, revert dialog, updated server/index.ts
  packages/mesh-plugin-site-editor/client/components/commit-dialog.tsx
  packages/mesh-plugin-site-editor/client/components/footer-bar.tsx
  packages/mesh-plugin-site-editor/client/components/revert-dialog.tsx
  packages/mesh-plugin-site-editor/server/index.ts
Due: fmt, lint

feat(17-06): wire footer into page-composer and register plugin in apps/mesh
  apps/mesh/package.json
  apps/mesh/src/web/plugins.ts
  packages/mesh-plugin-site-editor/client/components/page-composer.tsx
  packages/mesh-plugin-site-editor/client/lib/use-undo-redo.ts
Due: fmt, lint

docs(17-06): complete git UX footer, commit-message route, and plugin registration plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/17-site-editor-plugin/17-06-SUMMARY.md
Due: fmt

docs(phase-17): complete phase execution
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/phases/17-site-editor-plugin/17-VERIFICATION.md
Due: fmt

docs(v1.3): milestone audit — gaps found (Phase 18 not started, integration issues)
  .planning/v1.3-MILESTONE-AUDIT.md
Due: fmt

fix(phase-17): resolve 3 integration issues from milestone audit
  apps/mesh/src/server-plugins.ts
  packages/mesh-plugin-deco-blocks/src/scanner.ts
  packages/mesh-plugin-site-editor/client/components/footer-bar.tsx
  packages/mesh-plugin-site-editor/client/lib/page-api.ts
  packages/mesh-plugin-site-editor/client/lib/use-iframe-bridge.ts
Due: fmt, lint

fix(15): fix TypeScript errors in test files for MCP SDK content type
  packages/local-dev/src/bash.test.ts
  packages/local-dev/src/tools.test.ts
Due: fmt, lint

feat(18-01): add MCP client factory and local-dev manager
  packages/cli/src/lib/local-dev-manager.ts
  packages/cli/src/lib/mesh-client.ts
Due: fmt, lint

feat(18-02): implement deco link command
  packages/cli/src/commands/mesh/link.ts
Due: fmt, lint

docs(18-02): complete deco link command plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/18-deco-link-command/18-02-SUMMARY.md
  packages/cli/src/commands/mesh/link.ts
  packages/cli/src/lib/mesh-auth.ts
Due: fmt, lint

feat(16-01): scaffold mesh-plugin-deco-blocks workspace package
  packages/mesh-plugin-deco-blocks/package.json
  packages/mesh-plugin-deco-blocks/src/index.ts
  packages/mesh-plugin-deco-blocks/tsconfig.json
Due: fmt, lint

docs(16-02): add Claude skills enable-blocks and create-block for deco blocks
  packages/mesh-plugin-deco-blocks/.claude/commands/deco/create-block.md
  packages/mesh-plugin-deco-blocks/.claude/commands/deco/enable-blocks.md
Due: fmt

docs(16-01): complete scaffold and DECO_BLOCKS_BINDING plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/16-plugin-deco-blocks/16-01-SUMMARY.md
Due: fmt

feat(16-03): implement schema-extractor.ts — TypeScript props to JSON Schema
  packages/mesh-plugin-deco-blocks/src/schema-extractor.ts
Due: fmt, lint

docs(16-03): complete block scanner plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/16-plugin-deco-blocks/16-03-SUMMARY.md
Due: fmt

feat(16-04): implement isDecoSite() and public API index.ts
  packages/mesh-plugin-deco-blocks/src/index.ts
  packages/mesh-plugin-deco-blocks/src/is-deco-site.ts
Due: fmt, lint

docs(16-02): complete plugin-deco-blocks documentation and Claude skills plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/16-plugin-deco-blocks/16-02-SUMMARY.md
Due: fmt

feat(16-03): implement scanner.ts — block and loader discovery
  packages/mesh-plugin-deco-blocks/src/index.ts
  packages/mesh-plugin-deco-blocks/src/scanner.ts
Due: fmt, lint

docs(17): research phase domain
  .planning/phases/17-site-editor-plugin/17-RESEARCH.md
Due: fmt

docs(17-01): complete mesh-plugin-site-editor scaffold plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/17-site-editor-plugin/17-01-SUMMARY.md
Due: fmt

feat(17-01): add client plugin entry, header, empty state, and server stub
  packages/mesh-plugin-site-editor/client/components/plugin-empty-state.tsx
  packages/mesh-plugin-site-editor/client/components/plugin-header.tsx
  packages/mesh-plugin-site-editor/client/index.tsx
  packages/mesh-plugin-site-editor/server/index.ts
Due: fmt, lint

chore(17-01): scaffold mesh-plugin-site-editor package foundation
  packages/mesh-plugin-site-editor/package.json
  packages/mesh-plugin-site-editor/shared.ts
  packages/mesh-plugin-site-editor/tsconfig.json
Due: fmt, lint

docs(17): create phase plan
  .planning/ROADMAP.md
  .planning/phases/17-site-editor-plugin/17-01-PLAN.md
  .planning/phases/17-site-editor-plugin/17-02-PLAN.md
  .planning/phases/17-site-editor-plugin/17-03-PLAN.md
  .planning/phases/17-site-editor-plugin/17-04-PLAN.md
  .planning/phases/17-site-editor-plugin/17-05-PLAN.md
  .planning/phases/17-site-editor-plugin/17-06-PLAN.md
Due: fmt

test(17-03): add failing tests for useUndoRedo reducer
  packages/mesh-plugin-site-editor/client/lib/use-undo-redo.test.ts
Due: fmt, lint

feat(17-03): implement useUndoRedo and useIframeBridge hooks
  packages/mesh-plugin-site-editor/client/lib/use-iframe-bridge.ts
  packages/mesh-plugin-site-editor/client/lib/use-undo-redo.ts
Due: fmt, lint

feat(17-02): add block-api.ts with typed DECO_BLOCKS_BINDING calls and git-api.ts
  packages/mesh-plugin-site-editor/client/lib/block-api.ts
  packages/mesh-plugin-site-editor/client/lib/git-api.ts
Due: fmt, lint

docs(17-02): complete data access layer plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/17-site-editor-plugin/17-02-SUMMARY.md
Due: fmt

docs(17-03): complete useUndoRedo and useIframeBridge hooks plan
  .planning/REQUIREMENTS.md
  .planning/STATE.md
  .planning/phases/17-site-editor-plugin/17-03-SUMMARY.md
Due: fmt

feat(17-04): create plugin router and register routes in client/index.tsx
  packages/mesh-plugin-site-editor/client/components/page-composer.tsx
  packages/mesh-plugin-site-editor/client/index.tsx
  packages/mesh-plugin-site-editor/client/lib/router.ts
Due: fmt, lint

feat(local-dev): improve UX for local-dev discovery and project lifecycle
  apps/mesh/src/api/app.ts
  apps/mesh/src/api/routes/local-dev-discover.ts
  apps/mesh/src/tools/projects/delete.ts
  apps/mesh/src/web/components/local-dev-banner.tsx
  apps/mesh/src/web/hooks/use-local-dev-discovery.ts
  apps/mesh/src/web/layouts/shell-layout.tsx
  apps/mesh/src/web/lib/query-keys.ts
  apps/mesh/src/web/routes/projects-list.tsx
  packages/cli/src/commands/mesh/link.ts
  packages/cli/src/lib/local-dev-manager.ts
  packages/local-dev/src/bash.test.ts
  packages/local-dev/src/cli.ts
  packages/local-dev/src/server.ts
  packages/local-dev/src/tools.test.ts
  packages/mesh-plugin-object-storage/lib/router.ts
Due: fmt, lint

added new test for new access control protection
  apps/mesh/src/api/routes/oauth-proxy.e2e.test.ts
Due: fmt, lint

feat(ui): migrate design tokens to warm-neutral palette with Inter Variable
  packages/ui/src/styles/global.css
Due: none
