Repository decocms/mesh: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, lint

fmt:
  run: bunx biome format --write {staged_files}
  stage_fixed: true

lint:
  run: bunx oxlint {staged_files}

[chore]: apply biome formatting to ProductSwitcher
  apps/docs/client/src/components/ui/ProductSwitcher.tsx
Due: fmt, lint

refactor(sandbox): extract K8s port-forward into its own module
  packages/sandbox/server/runner/agent-sandbox/port-forward.test.ts
  packages/sandbox/server/runner/agent-sandbox/port-forward.ts
  packages/sandbox/server/runner/agent-sandbox/runner-bootstrap.test.ts
  packages/sandbox/server/runner/agent-sandbox/runner.ts
Due: fmt, lint

fix(sandbox): materialize daemon bundle for host runner in published package
  apps/mesh/package.json
  apps/mesh/scripts/bundle-server-script.ts
  bun.lock
  packages/sandbox/server/runner/host/daemon-asset.ts
  packages/sandbox/server/runner/host/runner.ts
Due: fmt, lint

fix(auth): propagate x-org-id on connection auth and SSE endpoints
  apps/mesh/src/core/context-factory.ts
  apps/mesh/src/web/components/details/connection/index.tsx
  apps/mesh/src/web/components/details/workflow/hooks/use-workflow-sse.ts
  apps/mesh/src/web/components/vm/hooks/vm-events-context.tsx
  apps/mesh/src/web/hooks/use-auto-install-github.ts
  apps/mesh/src/web/hooks/use-decopilot-events.ts
  apps/mesh/src/web/hooks/use-mcp-auth-status.ts
  apps/mesh/src/web/routes/orgs/connections.tsx
  apps/mesh/src/web/views/registry/monitor-connections-panel.tsx
  apps/mesh/src/web/views/virtual-mcp/add-connection-dialog.tsx
  apps/mesh/src/web/views/virtual-mcp/index.tsx
  packages/mesh-sdk/src/lib/mcp-oauth.ts
Due: fmt, lint

fix(knip): ignore node-pty in apps/mesh as bundle-time-only dep
  knip.jsonc
Due: none

fix(sandbox): host runner log delay + Sandbox Runner Not Initialized
  apps/mesh/src/api/routes/vm-events.ts
  apps/mesh/src/index.ts
  apps/mesh/src/sandbox/lifecycle.test.ts
  apps/mesh/src/sandbox/lifecycle.ts
  apps/mesh/src/tools/vm/start.test.ts
  apps/mesh/src/tools/vm/stop.test.ts
  packages/sandbox/daemon/constants.ts
  packages/sandbox/server/runner/agent-sandbox/lifecycle-types.ts
  packages/sandbox/server/runner/agent-sandbox/runner.ts
  packages/sandbox/server/runner/docker/runner.ts
  packages/sandbox/server/runner/freestyle/runner.ts
  packages/sandbox/server/runner/host/runner.ts
  packages/sandbox/server/runner/index.ts
  packages/sandbox/server/runner/lifecycle-types.ts
  packages/sandbox/server/runner/types.ts
Due: fmt, lint

fix(sandbox): materialize daemon bundle for host runner in published package (#3255)
  apps/mesh/package.json
  apps/mesh/scripts/bundle-server-script.ts
  apps/mesh/src/api/routes/vm-events.ts
  apps/mesh/src/core/context-factory.ts
  apps/mesh/src/index.ts
  apps/mesh/src/sandbox/lifecycle.test.ts
  apps/mesh/src/sandbox/lifecycle.ts
  apps/mesh/src/tools/vm/start.test.ts
  apps/mesh/src/tools/vm/stop.test.ts
  apps/mesh/src/web/components/details/connection/index.tsx
  apps/mesh/src/web/components/details/workflow/hooks/use-workflow-sse.ts
  apps/mesh/src/web/components/vm/hooks/vm-events-context.tsx
  apps/mesh/src/web/hooks/use-auto-install-github.ts
  apps/mesh/src/web/hooks/use-decopilot-events.ts
  apps/mesh/src/web/hooks/use-mcp-auth-status.ts
  apps/mesh/src/web/routes/orgs/connections.tsx
  apps/mesh/src/web/views/registry/monitor-connections-panel.tsx
  apps/mesh/src/web/views/virtual-mcp/add-connection-dialog.tsx
  apps/mesh/src/web/views/virtual-mcp/index.tsx
  bun.lock
  knip.jsonc
  packages/mesh-sdk/src/lib/mcp-oauth.ts
  packages/sandbox/daemon/constants.ts
  packages/sandbox/server/runner/agent-sandbox/lifecycle-types.ts
  packages/sandbox/server/runner/agent-sandbox/runner.ts
  packages/sandbox/server/runner/docker/runner.ts
  packages/sandbox/server/runner/freestyle/runner.ts
  packages/sandbox/server/runner/host/daemon-asset.ts
  packages/sandbox/server/runner/host/runner.ts
  packages/sandbox/server/runner/index.ts
  packages/sandbox/server/runner/lifecycle-types.ts
  packages/sandbox/server/runner/types.ts
Due: fmt, lint

refactor(mesh): collapse NODE_ENV gates and fix host-runner ingress
  apps/mesh/src/api/app.ts
  apps/mesh/src/api/routes/dev-assets-mcp.ts
  apps/mesh/src/api/routes/dev-assets.ts
  apps/mesh/src/api/routes/dev-only.ts
  apps/mesh/src/api/routes/files.ts
  apps/mesh/src/cli.ts
  apps/mesh/src/cli/build-child-env.ts
  apps/mesh/src/cli/commands/serve.ts
  apps/mesh/src/cli/sandbox-image.ts
  apps/mesh/src/core/context-factory.ts
  apps/mesh/src/index.ts
  apps/mesh/src/mcp-clients/outbound/index.ts
  apps/mesh/src/settings/resolve-config.ts
  apps/mesh/src/settings/types.ts
  apps/mesh/src/tools/connection/dev-assets.ts
  apps/mesh/src/tools/connection/get.ts
  apps/mesh/src/tools/connection/list.ts
  apps/mesh/src/tools/virtual/plugin-config-update.ts
  packages/sandbox/README.md
  tests/resilience/docker-compose.yml
Due: fmt, lint

refactor(mesh): gate STDIO and HTTP allowlists on localMode
  apps/mesh/src/api/routes/auth.ts
  apps/mesh/src/api/routes/decopilot/built-in-tools/generate-image.ts
  apps/mesh/src/api/routes/org-sso.ts
  apps/mesh/src/cli/build-child-env.ts
  apps/mesh/src/cli/config-view.tsx
  apps/mesh/src/mcp-clients/outbound/index.ts
  apps/mesh/src/settings/resolve-config.ts
  apps/mesh/src/settings/types.ts
Due: fmt, lint

fix(web): inject x-org-id on remaining org-scoped fetches
  apps/mesh/src/web/components/chat/chat-context.tsx
  apps/mesh/src/web/components/chat/message/thread-outputs.tsx
  apps/mesh/src/web/hooks/use-org-sso.ts
  apps/mesh/src/web/views/registry/monitor-connections-panel.tsx
Due: fmt, lint

chore(mesh): drop unused red() helper from fmt
  apps/mesh/src/fmt.ts
Due: fmt, lint

test(workflows): bump stress test timeouts for slow CI runners
  packages/mesh-plugin-workflows/server/engine/__tests__/stress.test.ts
Due: fmt, lint

refactor(mesh): collapse NODE_ENV gates, fix host-runner ingress (#3260)
  apps/mesh/src/api/app.ts
  apps/mesh/src/api/routes/auth.ts
  apps/mesh/src/api/routes/decopilot/built-in-tools/generate-image.ts
  apps/mesh/src/api/routes/dev-assets-mcp.ts
  apps/mesh/src/api/routes/dev-assets.ts
  apps/mesh/src/api/routes/dev-only.ts
  apps/mesh/src/api/routes/files.ts
  apps/mesh/src/api/routes/org-sso.ts
  apps/mesh/src/cli.ts
  apps/mesh/src/cli/build-child-env.ts
  apps/mesh/src/cli/commands/serve.ts
  apps/mesh/src/cli/config-view.tsx
  apps/mesh/src/cli/sandbox-image.ts
  apps/mesh/src/core/context-factory.ts
  apps/mesh/src/fmt.ts
  apps/mesh/src/index.ts
  apps/mesh/src/mcp-clients/outbound/index.ts
  apps/mesh/src/settings/resolve-config.ts
  apps/mesh/src/settings/types.ts
  apps/mesh/src/tools/connection/dev-assets.ts
  apps/mesh/src/tools/connection/get.ts
  apps/mesh/src/tools/connection/list.ts
  apps/mesh/src/tools/virtual/plugin-config-update.ts
  apps/mesh/src/web/components/chat/chat-context.tsx
  apps/mesh/src/web/components/chat/message/thread-outputs.tsx
  apps/mesh/src/web/hooks/use-org-sso.ts
  apps/mesh/src/web/views/registry/monitor-connections-panel.tsx
  packages/mesh-plugin-workflows/server/engine/__tests__/stress.test.ts
  packages/sandbox/README.md
  tests/resilience/docker-compose.yml
Due: fmt, lint

[chore]: park decostudio as alias for decocms
  decostudio-alias/.npmignore
  decostudio-alias/README.md
  decostudio-alias/bin/decostudio.mjs
  decostudio-alias/package.json
Due: fmt

docs(mesh): refresh README — rebrand to deco Studio, use bunx decostudio
  apps/mesh/README.md
Due: fmt

feat(mesh): autostart MCP project from cwd in bunx decocms
  apps/mesh/src/cli.ts
  apps/mesh/src/cli/app.tsx
  apps/mesh/src/cli/autostart/detect.test.ts
  apps/mesh/src/cli/autostart/detect.ts
  apps/mesh/src/cli/autostart/index.ts
  apps/mesh/src/cli/autostart/prompt.test.ts
  apps/mesh/src/cli/autostart/prompt.ts
  apps/mesh/src/cli/autostart/register.test.ts
  apps/mesh/src/cli/autostart/register.ts
  apps/mesh/src/cli/autostart/spawn.ts
  apps/mesh/src/cli/cli-store.ts
  apps/mesh/src/cli/commands/serve.ts
  apps/mesh/src/cli/header.tsx
  apps/mesh/src/index.ts
Due: fmt, lint

feat(mesh): add minimal PWA manifest for Chrome install
  apps/mesh/index.html
  apps/mesh/public/manifest.webmanifest
Due: none

chore(mesh): rename "deco Studio" to "deco CMS" in app metadata
  apps/mesh/index.html
  apps/mesh/public/manifest.webmanifest
Due: none

fix(mesh-image): install python3 + build-essential so node-pty compiles
  apps/mesh/Dockerfile
Due: none

fix(mesh-image): install python3 + build-essential so node-pty compiles (#3264)
  apps/mesh/Dockerfile
Due: none

fix(auth): bind ctx.organization to x-org-id hint for OAuth sessions
  apps/mesh/src/core/context-factory.ts
  apps/mesh/src/web/views/virtual-mcp/virtual-mcp-share-modal.tsx
Due: fmt, lint

feat(organization): soft-delete orgs and block archived access everywhere
  apps/mesh/src/core/context-factory.ts
  apps/mesh/src/tools/organization/delete.ts
  apps/mesh/src/tools/organization/list.ts
  apps/mesh/src/web/index.tsx
Due: fmt, lint

fix(auth): bind ctx.organization to x-org-id hint for OAuth sessions (#3265)
  apps/mesh/src/core/context-factory.ts
  apps/mesh/src/web/views/virtual-mcp/virtual-mcp-share-modal.tsx
Due: fmt, lint

feat(ui): markdown editor for agent and automation instructions
  apps/mesh/package.json
  apps/mesh/src/web/components/chat/tiptap/input.tsx
  apps/mesh/src/web/components/markdown-editor.tsx
  apps/mesh/src/web/views/automations/automation-detail.tsx
  apps/mesh/src/web/views/virtual-mcp/index.tsx
  bun.lock
Due: fmt, lint

feat(organization): friendly screen for archived orgs and post-archive redirect
  apps/mesh/src/web/components/archived-org-screen.tsx
  apps/mesh/src/web/components/settings/delete-organization-section.tsx
  apps/mesh/src/web/layouts/shell-layout.tsx
Due: fmt, lint

fix(decopilot): destructive tools always require user approval
  apps/mesh/src/api/routes/decopilot/helpers.test.ts
  apps/mesh/src/api/routes/decopilot/helpers.ts
Due: fmt, lint

feat(decopilot): add YOLO approval level to auto-approve destructive tools
  apps/mesh/src/api/routes/decopilot/helpers.test.ts
  apps/mesh/src/api/routes/decopilot/helpers.ts
  apps/mesh/src/web/components/chat/highlight/approval.tsx
  apps/mesh/src/web/hooks/use-preferences.ts
  apps/mesh/src/web/views/settings/profile-preferences.tsx
Due: fmt, lint

refactor(decopilot): rename yolo approval level to trust-all
  apps/mesh/src/api/routes/decopilot/helpers.test.ts
  apps/mesh/src/api/routes/decopilot/helpers.ts
  apps/mesh/src/web/components/chat/highlight/approval.tsx
  apps/mesh/src/web/hooks/use-preferences.ts
  apps/mesh/src/web/views/settings/profile-preferences.tsx
Due: fmt, lint

test(organization): assert archive metadata update instead of hard delete
  apps/mesh/src/tools/organization/organization-tools.test.ts
Due: fmt, lint

feat(mesh): expand trigger paramsMatch with operator objects + array sugar
  apps/mesh/src/automations/event-trigger-engine.test.ts
  apps/mesh/src/automations/event-trigger-engine.ts
Due: fmt, lint

feat(mesh): add minimal PWA manifest for Chrome install (#3263)
  apps/mesh/index.html
  apps/mesh/public/manifest.webmanifest
Due: none

feat(mesh): expand trigger paramsMatch with operator objects + array sugar (#3268)
  apps/mesh/src/automations/event-trigger-engine.test.ts
  apps/mesh/src/automations/event-trigger-engine.ts
Due: fmt, lint

feat(mesh): always-on Virtual MCP publish button with color-coded states
  apps/mesh/src/web/components/thread/github/header-actions.tsx
  apps/mesh/src/web/components/thread/github/merge-split-button.tsx
  apps/mesh/src/web/components/thread/github/panel-state.test.ts
  apps/mesh/src/web/components/thread/github/panel-state.ts
  packages/ui/src/components/button.tsx
  packages/ui/src/components/spinner.tsx
  packages/ui/src/styles/global.css
Due: fmt, lint

fix: update error message for advisory lock and improve handle function to prefix hashes with 's-'
  apps/mesh/src/storage/sandbox-runner-state.ts
  packages/sandbox/server/runner/shared/handle.test.ts
  packages/sandbox/server/runner/shared/handle.ts
Due: fmt, lint

feat(mesh): always-on Virtual MCP publish button with color-coded states (#3269)
  apps/mesh/src/web/components/thread/github/header-actions.tsx
  apps/mesh/src/web/components/thread/github/merge-split-button.tsx
  apps/mesh/src/web/components/thread/github/panel-state.test.ts
  apps/mesh/src/web/components/thread/github/panel-state.ts
  packages/ui/src/components/button.tsx
  packages/ui/src/components/spinner.tsx
  packages/ui/src/styles/global.css
Due: fmt, lint

fix: update error message for advisory lock and improve handle function to prefix hashes with 's-' (#3270)
  apps/mesh/src/storage/sandbox-runner-state.ts
  packages/sandbox/server/runner/shared/handle.test.ts
  packages/sandbox/server/runner/shared/handle.ts
Due: fmt, lint

feat(sandbox): daemon bootstrap state machine + token enforcement
  deploy/helm/sandbox-env/templates/sandbox-template.yaml
  packages/sandbox/SPEC-daemon-bootstrap.md
  packages/sandbox/VERIFY-v042.md
  packages/sandbox/daemon/auth.ts
  packages/sandbox/daemon/bootstrap-config.ts
  packages/sandbox/daemon/bootstrap.e2e.test.ts
  packages/sandbox/daemon/bootstrap.ts
  packages/sandbox/daemon/canonicalize.test.ts
  packages/sandbox/daemon/canonicalize.ts
  packages/sandbox/daemon/daemon.e2e.test.ts
  packages/sandbox/daemon/entry.ts
  packages/sandbox/daemon/git/branch-status.ts
  packages/sandbox/daemon/persistence.ts
  packages/sandbox/daemon/proxy.ts
  packages/sandbox/daemon/routes/health.test.ts
  packages/sandbox/daemon/routes/health.ts
  packages/sandbox/daemon/setup/branch.test.ts
  packages/sandbox/daemon/setup/branch.ts
  packages/sandbox/daemon/setup/clone.ts
  packages/sandbox/daemon/setup/git.ts
  packages/sandbox/daemon/setup/identity.ts
  packages/sandbox/daemon/setup/orchestrator.ts
  packages/sandbox/daemon/state.ts
Due: fmt, lint

refactor(sandbox): strip added comments
  deploy/helm/sandbox-env/templates/sandbox-template.yaml
  packages/sandbox/daemon/auth.ts
  packages/sandbox/daemon/bootstrap-config.ts
  packages/sandbox/daemon/bootstrap.e2e.test.ts
  packages/sandbox/daemon/bootstrap.ts
  packages/sandbox/daemon/canonicalize.ts
  packages/sandbox/daemon/daemon.e2e.test.ts
  packages/sandbox/daemon/entry.ts
  packages/sandbox/daemon/git/branch-status.ts
  packages/sandbox/daemon/persistence.ts
  packages/sandbox/daemon/proxy.ts
  packages/sandbox/daemon/setup/branch.test.ts
  packages/sandbox/daemon/setup/branch.ts
  packages/sandbox/daemon/setup/clone.ts
  packages/sandbox/daemon/setup/git.ts
  packages/sandbox/daemon/setup/identity.ts
  packages/sandbox/daemon/setup/orchestrator.ts
  packages/sandbox/daemon/state.ts
Due: fmt, lint

refactor(sandbox): drop bootstrap nonce, NetworkPolicy is the trust boundary
  deploy/helm/sandbox-env/templates/sandbox-template.yaml
  packages/sandbox/SPEC-daemon-bootstrap.md
  packages/sandbox/VERIFY-v042.md
  packages/sandbox/daemon/bootstrap.e2e.test.ts
  packages/sandbox/daemon/bootstrap.ts
  packages/sandbox/daemon/canonicalize.test.ts
  packages/sandbox/daemon/entry.ts
  packages/sandbox/daemon/persistence.ts
Due: fmt, lint

refactor(sandbox-daemon): general-compute reframing of bootstrap
  packages/sandbox/daemon/bootstrap-config.ts
  packages/sandbox/daemon/bootstrap.e2e.test.ts
  packages/sandbox/daemon/bootstrap.ts
  packages/sandbox/daemon/config.test.ts
  packages/sandbox/daemon/config.ts
  packages/sandbox/daemon/entry.ts
  packages/sandbox/daemon/persistence.ts
  packages/sandbox/daemon/routes/health.test.ts
  packages/sandbox/daemon/routes/health.ts
  packages/sandbox/daemon/state.ts
  packages/sandbox/daemon/types.ts
Due: fmt, lint

Path conditions:
  fmt: any of: *.{ts,tsx,js,jsx,json,md}
  lint: any of: *.{ts,tsx,js,jsx}
