Repository decocms/mesh: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, lint

fmt:
  run: bunx biome format --write {staged_files}
  stage_fixed: true

lint:
  run: bunx oxlint {staged_files}

feat(private-registry): improve monitor UX and auth flows
  packages/mesh-plugin-private-registry/client/components/cron-schedule-selector.tsx
  packages/mesh-plugin-private-registry/client/components/monitor-configuration.tsx
  packages/mesh-plugin-private-registry/client/components/monitor-connections-panel.tsx
  packages/mesh-plugin-private-registry/client/components/monitor-dashboard.tsx
  packages/mesh-plugin-private-registry/client/components/monitor-run-history.tsx
  packages/mesh-plugin-private-registry/client/components/registry-monitor-page.tsx
  packages/mesh-plugin-private-registry/client/hooks/use-monitor.ts
  packages/mesh-plugin-private-registry/client/lib/types.ts
  packages/mesh-plugin-private-registry/server/storage/types.ts
  packages/mesh-plugin-private-registry/server/tools/monitor-connection-list.ts
  packages/mesh-plugin-private-registry/server/tools/monitor-connection-sync.ts
  packages/mesh-plugin-private-registry/server/tools/monitor-run-start.ts
  packages/mesh-plugin-private-registry/server/tools/monitor-schemas.ts
  packages/mesh-plugin-private-registry/shared.ts
Due: fmt, lint

feat(auth): add password reset flow (#2462)
  apps/mesh/auth-config.example.json
  apps/mesh/src/api/routes/auth.ts
  apps/mesh/src/auth/index.ts
  apps/mesh/src/core/config.ts
  apps/mesh/src/web/components/unified-auth-form.tsx
  apps/mesh/src/web/index.tsx
  apps/mesh/src/web/routes/reset-password.tsx
  deploy/conf-examples/auth-config-sso-email.json.example
Due: fmt, lint

fix(private-registry): correct monitor tool progress and auth probe query key
  packages/mesh-plugin-private-registry/client/components/monitor-connections-panel.tsx
  packages/mesh-plugin-private-registry/client/components/monitor-dashboard.tsx
  packages/mesh-plugin-private-registry/client/lib/query-keys.ts
  packages/mesh-plugin-private-registry/server/tools/monitor-run-start.ts
Due: fmt, lint

fix IDOR in /org/:organizationId/watch endpoint
  apps/mesh/src/api/app.ts
Due: fmt, lint

fix(sdk): include scopeKey in collection query keys to prevent cross-org cache leaks
  apps/mesh/src/web/hooks/use-collection-cache-prefill.test.ts
  apps/mesh/src/web/routes/orgs/connections.tsx
  packages/mesh-sdk/src/hooks/use-collections.ts
Due: fmt, lint

feat(reports): add criteria and ranked list sections to report renderer
  packages/bindings/src/index.ts
  packages/bindings/src/well-known/reports.ts
  packages/mesh-plugin-reports/components/report-detail.tsx
  packages/mesh-plugin-reports/components/report-sections.tsx
Due: fmt, lint

fix(sdk): include scopeKey in collection query keys to prevent cross-org cache leaks (#2467)
  apps/mesh/src/web/hooks/use-collection-cache-prefill.test.ts
  apps/mesh/src/web/routes/orgs/connections.tsx
  packages/mesh-sdk/src/hooks/use-collections.ts
Due: fmt, lint

docs: add model list error boundary design doc
  docs/plans/2026-02-19-model-list-error-boundary-design.md
Due: fmt

docs: add model list error boundary implementation plan
  docs/plans/2026-02-19-model-list-error-boundary.md
Due: fmt

feat(chat): extend ModelChangePayload with capabilities and add configure button to error fallback
  apps/mesh/src/web/components/chat/select-model.tsx
Due: fmt, lint

fix(chat): pass orgSlug as prop to ModelListErrorFallback, remove no-op capabilities coerce
  apps/mesh/src/web/components/chat/select-model.tsx
Due: fmt, lint

fix(chat): isolate model list fetch in ModelAutoSelector to prevent page crash on MCP auth error
  apps/mesh/src/web/components/chat/context.tsx
Due: fmt, lint

fix(chat): restore limits persistence and model permission filter in ModelAutoSelector
  apps/mesh/src/web/components/chat/context.tsx
  apps/mesh/src/web/components/chat/select-model.tsx
Due: fmt, lint

feat(private-registry): rename monitor ui labels to QA
  packages/mesh-plugin-private-registry/client/components/monitor-configuration.tsx
  packages/mesh-plugin-private-registry/client/components/monitor-connections-panel.tsx
  packages/mesh-plugin-private-registry/client/components/monitor-dashboard.tsx
  packages/mesh-plugin-private-registry/client/components/monitor-run-history.tsx
  packages/mesh-plugin-private-registry/client/components/registry-layout.tsx
Due: fmt, lint

fix(decopilot): avoid false positives in question detection for requires_action (#2460)
  apps/mesh/src/api/routes/decopilot/status.test.ts
  apps/mesh/src/api/routes/decopilot/status.ts
Due: fmt, lint

chore(menu): remove workflows from org-admin sidebar (#2463)
  apps/mesh/src/web/hooks/use-project-sidebar-items.tsx
Due: fmt, lint

fix(docs): remove conflicting redirects and i18n config causing build failure (#2465)
  apps/docs/astro.config.mjs
Due: none

fix(connection): accept null icon in connection and virtual-mcp schemas (#2461)
  packages/mesh-sdk/src/types/connection.ts
  packages/mesh-sdk/src/types/virtual-mcp.ts
Due: fmt, lint

feat(decopilot): enhance subtask tool UI and message extraction (#2458)
  apps/mesh/src/web/components/chat/message/parts/extract-text-from-output.test.ts
  apps/mesh/src/web/components/chat/message/parts/tool-call-part/generic.tsx
  apps/mesh/src/web/components/chat/message/parts/utils.ts
Due: fmt, lint

fix background by moving highlights outside (#2459)
  apps/mesh/src/web/components/chat/highlight/index.tsx
Due: fmt, lint

[release]: bump to 2.105.0
  apps/mesh/package.json
Due: fmt

style: add useEffect justification comment in ModelAutoSelector
  apps/mesh/src/web/components/chat/context.tsx
Due: fmt, lint

[chore]: remove plan docs from branch
  docs/plans/2026-02-19-model-list-error-boundary-design.md
  docs/plans/2026-02-19-model-list-error-boundary.md
Due: fmt

fix(chat): default connection selector to first connection when no model stored
  apps/mesh/src/web/components/chat/select-model.tsx
Due: fmt, lint

fix(chat): prevent model list MCP error from crashing the page (#2468)
  apps/mesh/src/web/components/chat/context.tsx
  apps/mesh/src/web/components/chat/select-model.tsx
Due: fmt, lint

feat(runtime): add ToolAnnotations support to createTool
  packages/runtime/src/tools.ts
Due: fmt, lint

chore(runtime): bump version to 1.2.9
  packages/runtime/package.json
Due: fmt

feat(runtime): add ToolAnnotations support to createTool (#2470)
  packages/runtime/package.json
  packages/runtime/src/tools.ts
Due: fmt, lint

fix(plugin-router): support sub-paths in sidebar group item navigation
  apps/mesh/src/web/hooks/use-project-sidebar-items.tsx
  apps/mesh/src/web/index.tsx
  packages/bindings/src/core/plugins.ts
Due: fmt, lint

[chore]: untrack and gitignore .claude/settings.local.json
  .claude/settings.local.json
  .gitignore
Due: fmt

require user session /oauth-proxy/:connectionId
  apps/mesh/src/api/app.ts
Due: fmt, lint

fix format
  apps/mesh/src/api/app.ts
Due: fmt, lint

Path conditions:
  fmt: any of: *.{ts,tsx,js,jsx,json,md}
  lint: any of: *.{ts,tsx,js,jsx}
