Repository decocms/mesh: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, lint

lefthook.yml:

# Lefthook configuration for mesh monorepo
# Install: npx lefthook install

pre-commit:
  parallel: true
  commands:
    fmt:
      glob: "*.{ts,tsx,js,jsx,json,md}"
      run: bunx biome format --write {staged_files}
      stage_fixed: true
    lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: bunx oxlint {staged_files}

fix: resolve CI test and e2e failures
  .github/workflows/e2e.yml
  apps/mesh/scripts/dev.ts
Due: fmt, lint

fix(chat): stabilize fresh-chat initializer across remounts
  apps/mesh/src/web/components/chat/task/use-task-manager.ts
Due: fmt, lint

fix(studio): require bun runtime and update instructions to bunx
  .github/workflows/release.yaml
  DEBT.md
  README.md
  apps/docs/client/src/content/draft/en/mcp-mesh/self-hosting/quickstart.mdx
  apps/docs/client/src/content/draft/pt-br/introduction.mdx
  apps/docs/client/src/content/draft/pt-br/mcp-mesh/quickstart.mdx
  apps/docs/client/src/content/latest/en/introduction.mdx
  apps/docs/client/src/content/latest/en/mcp-mesh/quickstart.mdx
  apps/docs/client/src/content/latest/pt-br/introduction.mdx
  apps/docs/client/src/content/latest/pt-br/mcp-mesh/quickstart.mdx
  apps/mesh/scripts/dev.ts
  apps/mesh/src/cli.ts
  packages/studio/README.md
  packages/studio/bin/deco.js
Due: fmt, lint

chore: rebrand CLI and docs from @decocms/mesh to npx decocms / deco
  .github/workflows/release.yaml
  apps/docs/client/src/content/draft/en/mcp-mesh/self-hosting/quickstart.mdx
  apps/docs/client/src/content/draft/pt-br/introduction.mdx
  apps/docs/client/src/content/draft/pt-br/mcp-mesh/quickstart.mdx
  apps/docs/client/src/content/latest/en/introduction.mdx
  apps/docs/client/src/content/latest/en/mcp-mesh/quickstart.mdx
  apps/docs/client/src/content/latest/pt-br/introduction.mdx
  apps/docs/client/src/content/latest/pt-br/mcp-mesh/quickstart.mdx
  apps/mesh/scripts/dev.ts
  apps/mesh/src/cli.ts
  packages/mesh-sdk/src/lib/mcp-oauth.ts
Due: fmt, lint

fix(dev): respect existing DATABASE_URL and fix path resolution
  apps/mesh/scripts/dev.ts
Due: fmt, lint

fix(docs): align section headings with bunx commands
  .github/workflows/release.yaml
  apps/docs/client/src/content/draft/en/mcp-mesh/self-hosting/quickstart.mdx
  apps/docs/client/src/content/draft/pt-br/introduction.mdx
  apps/docs/client/src/content/draft/pt-br/mcp-mesh/quickstart.mdx
  apps/docs/client/src/content/latest/en/introduction.mdx
  apps/docs/client/src/content/latest/en/mcp-mesh/quickstart.mdx
  apps/docs/client/src/content/latest/pt-br/introduction.mdx
  apps/docs/client/src/content/latest/pt-br/mcp-mesh/quickstart.mdx
Due: none

fix(tests): update OAuth callback tests for cross-origin postMessage
  DEBT.md
  apps/mesh/src/web/lib/mcp-oauth.test.ts
Due: fmt, lint

fix(studio): use bun runtime in deco CLI wrapper
  packages/studio/bin/deco.js
Due: fmt, lint

fix: security hardening, OAuth flow extraction, and deferred debt tracking
  DEBT.md
  apps/mesh/src/api/routes/dev-assets-mcp.ts
  apps/mesh/src/api/routes/dev-assets.ts
  apps/mesh/src/auth/local-mode.ts
  apps/mesh/src/index.ts
  apps/mesh/src/web/components/chat/context.tsx
  apps/mesh/src/web/components/chat/no-llm-binding-empty-state.tsx
  apps/mesh/src/web/components/details/connection/index.tsx
  apps/mesh/src/web/lib/authenticate-connection.ts
Due: fmt, lint

fix(local-mode): probe ~/deco for secrets.json when MESH_HOME is unset
  apps/mesh/src/auth/local-mode.ts
Due: fmt, lint

fix(dev): check non-interactive before defaultPath existence in resolveMeshHome
  apps/mesh/scripts/bootstrap.ts
Due: fmt, lint

fix: rename system prompt identity from "decopilot" to "Deco Pilot"
  apps/mesh/src/api/routes/decopilot/constants.ts
Due: fmt, lint

feat(agents): add grouping, bulk selection, stats, filters and creator avatars (#2578)
  apps/mesh/src/web/routes/orgs/agents.tsx
Due: fmt, lint

fix(runtime): bump version to 1.2.11 for npm publish
  packages/runtime/package.json
Due: fmt

revert better auth fork version
  apps/mesh/package.json
Due: fmt

fix readme space
  apps/mesh/README.md
Due: fmt

Bump version from 2.137.1 to 2.138.4
  apps/mesh/package.json
Due: fmt

feat: local-first DX with package rename to decocms
  .github/workflows/release.yaml
  DEBT.md
  README.md
  apps/benchmark/package.json
  apps/benchmark/server/mesh.ts
  apps/docs/client/src/content/draft/en/mcp-mesh/self-hosting/quickstart.mdx
  apps/docs/client/src/content/draft/pt-br/introduction.mdx
  apps/docs/client/src/content/draft/pt-br/mcp-mesh/quickstart.mdx
  apps/docs/client/src/content/latest/en/introduction.mdx
  apps/docs/client/src/content/latest/en/mcp-mesh/quickstart.mdx
  apps/docs/client/src/content/latest/pt-br/introduction.mdx
  apps/docs/client/src/content/latest/pt-br/mcp-mesh/quickstart.mdx
  apps/mesh/Dockerfile
  apps/mesh/package.json
  apps/mesh/scripts/bootstrap.ts
  apps/mesh/scripts/dev.ts
  apps/mesh/src/api/routes/auth.ts
  apps/mesh/src/api/routes/decopilot/constants.ts
  apps/mesh/src/api/routes/dev-assets-mcp.ts
  apps/mesh/src/api/routes/dev-assets.ts
  apps/mesh/src/auth/local-mode.ts
  apps/mesh/src/cli.ts
  apps/mesh/src/index.ts
  apps/mesh/src/web/components/chat/context.tsx
  apps/mesh/src/web/components/chat/no-llm-binding-empty-state.tsx
  apps/mesh/src/web/components/details/connection/index.tsx
  apps/mesh/src/web/lib/authenticate-connection.ts
  packages/mesh-sdk/src/lib/mcp-oauth.ts
Due: fmt, lint

Add vibe-dex to maintainers list
  MAINTAINERS.txt
Due: none

fix(monitoring): filter NULL group keys in SQL before LIMIT
  apps/mesh/src/storage/monitoring.ts
Due: fmt, lint

fix: remove eager tool backfill from connection GET to prevent resource exhaustion (#2588)
  apps/mesh/src/storage/project-connections.ts
  apps/mesh/src/tools/connection/get.ts
Due: fmt, lint

chore: bump version to 2.139.0 to skip reverted 2.138.x range
  apps/mesh/package.json
Due: fmt

fix(monitoring): add statement_timeout and sequential widget queries to prevent crash
  apps/mesh/src/database/index.ts
  apps/mesh/src/tools/monitoring-dashboard/query.ts
Due: fmt, lint

fix(event-bus): add yield in coalescing loop to prevent CPU exhaustion
  apps/mesh/src/event-bus/worker.ts
Due: fmt, lint

fix(startup): await event bus and SSE hub initialization
  apps/mesh/src/api/app.ts
Due: fmt, lint

fix(types): update MeshContext type to include asyncDispose on client pool
  apps/mesh/src/core/define-tool.test.ts
  apps/mesh/src/core/mesh-context.test.ts
  apps/mesh/src/core/mesh-context.ts
  apps/mesh/src/tools/connection/connection-tools.test.ts
  apps/mesh/src/tools/organization/organization-tools.test.ts
Due: fmt, lint

docs: add incident report for 2026-03-06 OOM crash
  docs/incident-reports/2026-03-06-oom-vtex-search-flood.md
Due: fmt

chore: bump version to 2.139.0 to skip reverted 2.138.x range (#2590)
  apps/mesh/package.json
Due: fmt

revert: remove server.close() from proxy routes (breaks SSE connections)
  apps/mesh/src/api/routes/dev-assets-mcp.ts
  apps/mesh/src/api/routes/proxy.ts
  apps/mesh/src/api/routes/self.ts
  apps/mesh/src/api/routes/virtual-mcp.ts
Due: fmt, lint

fix(billing): default to 7d period in Summary tab
  apps/mesh/src/web/components/settings-modal/pages/org-billing.tsx
Due: fmt, lint

fix(billing): default Breakdown tab to 7d period
  apps/mesh/src/web/components/settings-modal/pages/org-billing.tsx
Due: fmt, lint

feat(monitoring): add ParquetSpanExporter for local Parquet writes
  apps/mesh/package.json
  apps/mesh/src/monitoring/parquet-span-exporter.test.ts
  apps/mesh/src/monitoring/parquet-span-exporter.ts
Due: fmt, lint

fix(runtime): propagate organizationName and organizationSlug from JWT metadata
  apps/mesh/src/api/routes/proxy.ts
  apps/mesh/src/core/context-factory.ts
  packages/runtime/package.json
  packages/runtime/src/index.ts
Due: fmt, lint

fix(runtime): propagate organizationName and organizationSlug from JWT metadata (#2599)
  apps/mesh/src/api/routes/proxy.ts
  apps/mesh/src/core/context-factory.ts
  packages/runtime/package.json
  packages/runtime/src/index.ts
Due: fmt, lint

fix: guard eventBus.stop() in shutdown to prevent skipping remaining cleanup
  apps/mesh/src/api/app.ts
Due: fmt, lint

fix: use abort signal for client pool disposal instead of finally block
  apps/mesh/src/api/app.ts
Due: fmt, lint

fix(monitoring): log sampled warning when backpressure drops writes
  apps/mesh/src/mcp-clients/outbound/transports/monitoring.ts
Due: fmt, lint

fix: preserve default export as Hono app in api/index.ts
  apps/mesh/src/api/index.ts
Due: fmt, lint

fix(store): prefer Deco Store over Mesh MCP as default registry
  apps/mesh/src/web/components/store/mcp-server-card.tsx
  apps/mesh/src/web/routes/orgs/store/page.tsx
Due: fmt, lint
