Repository decocms/mesh: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, lint

fmt:
  run: bunx biome format --write {staged_files}
  stage_fixed: true

lint:
  run: bunx oxlint {staged_files}

test(auth): add tests for org-less API key rejection on OAuth token routes
  apps/mesh/src/api/routes/downstream-token.test.ts
Due: fmt, lint

fix(home): remove unused InboxPopover export to fix knip CI
  apps/mesh/src/web/components/sidebar/footer/inbox.tsx
Due: fmt, lint

fix(web): use KEYS constant for toolDefinitionLookup query key
  apps/mesh/src/web/hooks/use-tool-definition-lookup.ts
  apps/mesh/src/web/lib/query-keys.ts
Due: fmt, lint

fix(auth): add auth + org ownership check to public events endpoint
  apps/mesh/src/api/app.ts
  apps/mesh/src/api/routes/public-events.test.ts
Due: fmt, lint

refactor(ui): extract shared connection form helpers to reduce duplication
  apps/mesh/src/web/components/connections/create-connection-dialog.tsx
  apps/mesh/src/web/components/details/connection/index.tsx
  apps/mesh/src/web/routes/orgs/connections.tsx
  apps/mesh/src/web/utils/connection-form-helpers.ts
Due: fmt, lint

fix(chat): keep mobile import banner in normal flow to avoid overlapping input
  apps/mesh/src/web/components/chat/side-panel-chat.tsx
Due: fmt, lint

fix(ui): auto-trigger OAuth popup when creating connection that needs authorization
  apps/mesh/src/web/views/virtual-mcp/add-connection-dialog.tsx
Due: fmt, lint

feat(home): redesign chat input and home screen UI (#3027)
  apps/mesh/src/web/components/chat/input.tsx
  apps/mesh/src/web/components/chat/side-panel-chat.tsx
  apps/mesh/src/web/components/chat/tiptap/file/uploader.tsx
  apps/mesh/src/web/components/chat/tools-popover.tsx
  apps/mesh/src/web/components/home/agents-list.tsx
  apps/mesh/src/web/components/sidebar/footer/inbox.tsx
  apps/mesh/src/web/hooks/use-tool-definition-lookup.ts
  apps/mesh/src/web/layouts/shell-layout.tsx
  apps/mesh/src/web/lib/query-keys.ts
Due: fmt, lint

fix(ui): auto-trigger OAuth popup when adding connection to agent
  apps/mesh/src/web/views/virtual-mcp/index.tsx
Due: fmt, lint

fix(ui): remove unused export on normalizeConnectionUrl to fix knip CI check
  apps/mesh/src/web/utils/connection-form-helpers.ts
Due: fmt, lint

fix(ui): delete orphaned connection on OAuth failure in onCreated handler
  apps/mesh/src/web/views/virtual-mcp/add-connection-dialog.tsx
Due: fmt, lint

fix(ui): improve agent connection management and shared grouping utility (#3032)
  apps/mesh/src/shared/utils/group-connections.ts
  apps/mesh/src/web/components/connections/create-connection-dialog.tsx
  apps/mesh/src/web/components/details/connection/connection-instances-panel.tsx
  apps/mesh/src/web/components/details/connection/index.tsx
  apps/mesh/src/web/routes/orgs/connections.tsx
  apps/mesh/src/web/utils/connection-form-helpers.ts
  apps/mesh/src/web/views/virtual-mcp/add-connection-dialog.tsx
  apps/mesh/src/web/views/virtual-mcp/index.tsx
  apps/mesh/src/web/views/virtual-mcp/selection-utils.ts
  packages/mesh-sdk/src/lib/mcp-oauth.ts
Due: fmt, lint

fix(settings): reduce default DATABASE_POOL_MAX from 10 to 3
  apps/mesh/src/settings/resolve-config.ts
Due: fmt, lint

fix(settings): reduce default DATABASE_POOL_MAX from 10 to 3 (#3041)
  apps/mesh/src/settings/resolve-config.ts
Due: fmt, lint

fix(ui): prevent sidebar focus outlines from being clipped by overflow
  apps/mesh/src/web/components/sidebar/agents-section.tsx
  apps/mesh/src/web/components/sidebar/navigation-mobile.tsx
  apps/mesh/src/web/components/sidebar/navigation.tsx
  apps/mesh/src/web/layouts/settings-layout.tsx
  packages/ui/src/components/sidebar.tsx
Due: fmt, lint

feat(agents): add studio agent pack with auto-install on org creation
  apps/mesh/src/auth/org.ts
  apps/mesh/src/storage/ports.ts
  apps/mesh/src/storage/virtual.ts
  apps/mesh/src/tools/virtual/studio-pack.ts
  apps/mesh/src/web/components/home/studio-pack-recruit-modal.tsx
  apps/mesh/src/web/components/sidebar/agents-section.tsx
  apps/mesh/src/web/routes/agents-list.tsx
  packages/mesh-sdk/src/index.ts
  packages/mesh-sdk/src/lib/constants.ts
Due: fmt, lint

feat(agents): add studio agent pack with auto-install on org creation (#3043)
  apps/mesh/src/auth/org.ts
  apps/mesh/src/storage/ports.ts
  apps/mesh/src/storage/virtual.ts
  apps/mesh/src/tools/virtual/studio-pack.ts
  apps/mesh/src/web/components/home/studio-pack-recruit-modal.tsx
  apps/mesh/src/web/components/sidebar/agents-section.tsx
  apps/mesh/src/web/routes/agents-list.tsx
  packages/mesh-sdk/src/index.ts
  packages/mesh-sdk/src/lib/constants.ts
Due: fmt, lint

fix(ui): prevent sidebar focus outlines from being clipped by overflow (#3042)
  apps/mesh/src/web/components/sidebar/agents-section.tsx
  apps/mesh/src/web/components/sidebar/navigation-mobile.tsx
  apps/mesh/src/web/components/sidebar/navigation.tsx
  apps/mesh/src/web/layouts/settings-layout.tsx
  packages/ui/src/components/sidebar.tsx
Due: fmt, lint

fix(helm): increase CPU limits and enable CPU-based autoscaling
  deploy/helm/values.yaml
Due: none

fix(helm): follow k8s best practices for resource limits and bump db pool
  deploy/helm/values.yaml
Due: none

fix(helm): reduce DATABASE_POOL_MAX to 20 for pod scaling headroom
  deploy/helm/values.yaml
Due: none

fix(helm): increase main app memory to 2Gi
  deploy/helm/values.yaml
Due: none

fix(helm): change pullPolicy to IfNotPresent to use node cache
  deploy/helm/values.yaml
Due: none

[chore]: bump helm chart version to 0.2.0
  deploy/helm/Chart.yaml
Due: none

fix(helm): increase CPU limits and enable CPU autoscaling (#3045)
  deploy/helm/Chart.yaml
  deploy/helm/values.yaml
Due: none

fix(helm): remove redundant build-auth-config init container
  deploy/helm/templates/deployment.yaml
Due: none

[chore]: bump helm chart version to 0.3.0
  deploy/helm/Chart.yaml
Due: none

fix(helm): remove build-auth-config init container (#3047)
  deploy/helm/Chart.yaml
  deploy/helm/templates/deployment.yaml
Due: none

feat(panel): lift VirtualMCPProvider above useLayoutState for default layout
  apps/mesh/src/web/layouts/shell-layout.tsx
  apps/mesh/src/web/providers/virtual-mcp-provider.tsx
Due: fmt, lint

feat(panel): move agents list route under settings layout
  apps/mesh/src/web/components/home/agents-list.tsx
  apps/mesh/src/web/components/sidebar/agents-section.tsx
  apps/mesh/src/web/index.tsx
  apps/mesh/src/web/layouts/settings-layout.tsx
Due: fmt, lint

feat(panel): read entity metadata from VirtualMCPContext in useLayoutState
  apps/mesh/src/web/hooks/use-layout-state.ts
Due: fmt, lint

feat(panel): add entity to VirtualMCPContext
  apps/mesh/src/web/contexts/virtual-mcp-context.tsx
  apps/mesh/src/web/providers/virtual-mcp-provider.tsx
Due: fmt, lint

docs: add K8s HA report and implementation plans
  .context/k8s-ha-report.md
  docs/superpowers/plans/2026-04-07-app-code-ha-fixes.md
  docs/superpowers/plans/2026-04-07-helm-chart-ha.md
  docs/superpowers/plans/2026-04-07-infra-ha-advanced.md
Due: fmt

feat(panel): replace PanelContext with URL-based panel state management
  apps/mesh/src/web/components/chat/message/parts/tool-call-part/generic.tsx
  apps/mesh/src/web/components/chat/side-panel-tasks.tsx
  apps/mesh/src/web/components/chat/tasks-panel.tsx
  apps/mesh/src/web/components/details/tool.tsx
  apps/mesh/src/web/contexts/panel-context.tsx
  apps/mesh/src/web/hooks/use-project-sidebar-items.tsx
  apps/mesh/src/web/layouts/settings-layout.tsx
  apps/mesh/src/web/layouts/shell-layout.tsx
  apps/mesh/src/web/providers/virtual-mcp-provider.tsx
  apps/mesh/src/web/routes/project-app-view.tsx
  apps/mesh/src/web/views/virtual-mcp/index.tsx
Due: fmt, lint

docs: improve plans based on 8-critic review
  docs/superpowers/plans/2026-04-07-app-code-ha-fixes.md
  docs/superpowers/plans/2026-04-07-helm-chart-ha.md
  docs/superpowers/plans/2026-04-07-infra-ha-advanced.md
Due: fmt

feat(helm): add PodDisruptionBudget template for HA deployments
  deploy/helm/templates/pdb.yaml
Due: none

feat(helm): add startupProbe support to deployment template
  deploy/helm/templates/deployment.yaml
Due: none

feat(helm): add optional Ingress template
  deploy/helm/templates/ingress.yaml
  deploy/helm/values.yaml
Due: none

feat(helm): harden probes, add preStop hook, pod anti-affinity, pin s3Sync image
  deploy/helm/values.yaml
Due: none

Path conditions:
  fmt: any of: *.{ts,tsx,js,jsx,json,md}
  lint: any of: *.{ts,tsx,js,jsx}
