Repository decocms/mesh: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, lint

fmt:
  run: bunx biome format --write {staged_files}
  stage_fixed: true

lint:
  run: bunx oxlint {staged_files}

fix(monitoring): handle in-flight flush error during shutdown gracefully
  apps/mesh/src/monitoring/ndjson-span-exporter.ts
Due: fmt, lint

fix(monitoring): fix e2e CI failure (chdb graceful fallback, migration order)
  .github/workflows/e2e.yml
  apps/mesh/migrations/036-boolean-columns.ts
  apps/mesh/migrations/037-drop-monitoring-logs.ts
  apps/mesh/migrations/index.ts
  apps/mesh/src/monitoring/query-engine.ts
Due: fmt, lint

fix: address second round of PR review feedback
  .cursor/skills/respond-to-pr-review/SKILL.md
  apps/mesh/src/api/app.ts
  apps/mesh/src/database/index.ts
  apps/mesh/src/monitoring/ndjson-span-exporter.ts
  apps/mesh/src/storage/monitoring-clickhouse.ts
Due: fmt, lint

feat(mcp-apps): forward host theme CSS variables to iframed apps (#2626)
  apps/mesh/src/mcp-apps/host-styles.test.ts
  apps/mesh/src/mcp-apps/host-styles.ts
  apps/mesh/src/mcp-apps/use-app-bridge.ts
Due: fmt, lint

fix(web): enable scrolling in project app view
  apps/mesh/src/web/routes/project-app-view.tsx
Due: fmt, lint

docs: replace DuckDB with chdb (embedded ClickHouse) for monitoring
  docs/plans/2026-03-05-infrastructure-architecture-design.md
Due: fmt

chore: remove infrastructure architecture design doc
  docs/plans/2026-03-05-infrastructure-architecture-design.md
Due: fmt

fix(monitoring): skip chdb-dependent tests when native module unavailable
  apps/mesh/src/monitoring/pipeline.integration.test.ts
  apps/mesh/src/monitoring/query-engine.test.ts
  apps/mesh/src/storage/monitoring-clickhouse.test.ts
Due: fmt, lint

feat: monitoring pipeline refactor (NDJSON + ClickHouse) (#2631)
  apps/mesh/README.md
  apps/mesh/package.json
  apps/mesh/src/api/app.ts
  apps/mesh/src/api/routes/proxy-monitoring.test.ts
  apps/mesh/src/api/routes/proxy-monitoring.ts
  apps/mesh/src/cli.ts
  apps/mesh/src/core/context-factory.ts
  apps/mesh/src/core/mesh-context.ts
  apps/mesh/src/database/index.test.ts
  apps/mesh/src/database/index.ts
  apps/mesh/src/mcp-clients/outbound/transports/monitoring.test.ts
  apps/mesh/src/mcp-clients/outbound/transports/monitoring.ts
  apps/mesh/src/monitoring/enrich.test.ts
  apps/mesh/src/monitoring/enrich.ts
  apps/mesh/src/monitoring/ndjson-retention.test.ts
  apps/mesh/src/monitoring/ndjson-retention.ts
  apps/mesh/src/monitoring/ndjson-span-exporter.test.ts
  apps/mesh/src/monitoring/ndjson-span-exporter.ts
  apps/mesh/src/monitoring/pipeline.integration.test.ts
  apps/mesh/src/monitoring/query-engine.test.ts
  apps/mesh/src/monitoring/query-engine.ts
  apps/mesh/src/monitoring/schema.test.ts
  apps/mesh/src/monitoring/schema.ts
  apps/mesh/src/monitoring/test-utils.ts
  apps/mesh/src/observability/index.ts
  apps/mesh/src/storage/monitoring-clickhouse.test.ts
  apps/mesh/src/storage/monitoring-clickhouse.ts
  apps/mesh/src/storage/monitoring.test.ts
  apps/mesh/src/storage/monitoring.ts
  apps/mesh/src/storage/ports.ts
  apps/mesh/src/storage/types.ts
  apps/mesh/src/tools/monitoring-dashboard/preview.ts
  apps/mesh/src/tools/monitoring-dashboard/query.ts
  apps/mesh/src/tools/monitoring/list.ts
Due: fmt, lint

fix(shell): always refetch active org on mount to keep session in sync
  apps/mesh/src/web/layouts/shell-layout.tsx
Due: fmt, lint

feat(monitoring): refactor pipeline to use OTel logs instead of spans
  apps/mesh/src/api/routes/proxy-monitoring.ts
  apps/mesh/src/mcp-clients/outbound/transports/monitoring.test.ts
  apps/mesh/src/mcp-clients/outbound/transports/monitoring.ts
  apps/mesh/src/monitoring/emit.test.ts
  apps/mesh/src/monitoring/emit.ts
  apps/mesh/src/monitoring/ndjson-log-exporter.test.ts
  apps/mesh/src/monitoring/ndjson-log-exporter.ts
  apps/mesh/src/monitoring/pipeline.integration.test.ts
  apps/mesh/src/monitoring/schema.test.ts
  apps/mesh/src/monitoring/schema.ts
  apps/mesh/src/monitoring/test-utils.ts
  apps/mesh/src/observability/index.ts
Due: fmt, lint

fix(monitoring): remove dead span pipeline, fix flush race and ILIKE injection
  apps/mesh/src/api/routes/proxy-monitoring.test.ts
  apps/mesh/src/monitoring/emit.test.ts
  apps/mesh/src/monitoring/emit.ts
  apps/mesh/src/monitoring/enrich.test.ts
  apps/mesh/src/monitoring/enrich.ts
  apps/mesh/src/monitoring/ndjson-log-exporter.ts
  apps/mesh/src/monitoring/ndjson-span-exporter.test.ts
  apps/mesh/src/monitoring/ndjson-span-exporter.ts
  apps/mesh/src/monitoring/schema.test.ts
  apps/mesh/src/monitoring/schema.ts
  apps/mesh/src/monitoring/test-utils.ts
  apps/mesh/src/observability/index.ts
  apps/mesh/src/storage/monitoring-clickhouse.ts
Due: fmt, lint

feat(mcp-apps): add contentBlocksToTiptapDoc converter
  apps/mesh/src/mcp-apps/content-blocks.ts
Due: fmt, lint

feat(chat): wire MCP app ui/message into chat
  apps/mesh/src/web/components/chat/message/parts/tool-call-part/generic.tsx
Due: fmt, lint

fix(monitoring): resolve emit.test.ts CI failures from OTel provider ordering
  apps/mesh/src/monitoring/emit.test.ts
  apps/mesh/src/monitoring/emit.ts
Due: fmt, lint

fix(mcp-apps): wire onMessage in tool detail and app view
  apps/mesh/src/web/components/details/tool.tsx
  apps/mesh/src/web/routes/project-app-view.tsx
Due: fmt, lint

fix(monitoring): resolve CI test failures from OTel/chdb memory pressure
  apps/mesh/package.json
  apps/mesh/src/monitoring/query-engine.ts
  apps/mesh/src/observability/index.ts
Due: fmt, lint

fix(monitoring): address PR review feedback from cubic
  apps/mesh/src/mcp-clients/outbound/transports/monitoring.test.ts
  apps/mesh/src/monitoring/ndjson-log-exporter.ts
  apps/mesh/src/storage/monitoring-clickhouse.ts
Due: fmt, lint

feat(chat): wire updateModelContext for ext-app context injection (#2636)
  apps/mesh/src/mcp-apps/mcp-app-renderer.tsx
  apps/mesh/src/mcp-apps/use-app-bridge.ts
  apps/mesh/src/web/components/chat/context.tsx
  apps/mesh/src/web/components/chat/message/parts/tool-call-part/generic.tsx
  apps/mesh/src/web/components/details/tool.tsx
  apps/mesh/src/web/routes/project-app-view.tsx
Due: fmt, lint

fix(monitoring): improve chdb fallback warnings with actionable messages
  apps/mesh/src/monitoring/query-engine.ts
Due: fmt, lint

feat(monitoring): show tabs in skeleton loading state
  apps/mesh/src/web/routes/orgs/monitoring.tsx
Due: fmt, lint

ci: add nats-server installation to test and e2e workflows
  .github/workflows/e2e.yml
  .github/workflows/test.yml
Due: none

chore: remove plan documents
  apps/mesh/src/api/app.ts
  docs/plans/2026-03-05-infrastructure-architecture-design.md
Due: fmt, lint

fix: improve shutdown ordering, SIGKILL fallback, and HMR race
  AGENTS.md
  apps/mesh/src/api/app.ts
  apps/mesh/src/nats/local-server.ts
Due: fmt, lint

docs: update notify strategy comments for NATS-mandatory architecture
  apps/mesh/src/event-bus/notify-strategy.ts
  apps/mesh/src/event-bus/polling.ts
Due: fmt, lint

fix(npm): update repository URLs to match sigstore provenance expectations (#2637)
  apps/mesh/package.json
  packages/bindings/package.json
  packages/cli/package.json
  packages/create-deco/package.json
  packages/mesh-sdk/package.json
  packages/runtime/package.json
  packages/vite-plugin-deco/package.json
Due: fmt

fix(release): use correct GHCR image path for mesh docker image
  .github/workflows/release.yaml
Due: none

refactor(decopilot): enhance thread management with organization scoping
  apps/mesh/src/api/routes/decopilot/memory.ts
  apps/mesh/src/api/routes/decopilot/run-reactor.test.ts
  apps/mesh/src/core/context-factory.ts
  apps/mesh/src/storage/threads.ts
Due: fmt, lint

refactor(storage): add organization scoping to thread storage layer (#2639)
  apps/mesh/src/api/routes/decopilot/helpers.ts
  apps/mesh/src/api/routes/decopilot/memory.ts
  apps/mesh/src/api/routes/decopilot/run-reactor.test.ts
  apps/mesh/src/api/routes/decopilot/run-reactor.ts
  apps/mesh/src/api/routes/decopilot/run-registry.test.ts
  apps/mesh/src/core/context-factory.ts
  apps/mesh/src/core/mesh-context.ts
  apps/mesh/src/storage/ports.ts
  apps/mesh/src/storage/threads.test.ts
  apps/mesh/src/storage/threads.ts
  apps/mesh/src/tools/thread/delete.ts
  apps/mesh/src/tools/thread/get.ts
  apps/mesh/src/tools/thread/list-messages.ts
  apps/mesh/src/tools/thread/list.ts
  apps/mesh/src/tools/thread/update.ts
Due: fmt, lint

feat: inline OAuth auth from home page empty state
  apps/mesh/src/web/components/chat/no-llm-binding-empty-state.tsx
  apps/mesh/src/web/lib/authenticate-connection.ts
Due: fmt, lint

feat: add dev:local:conductor script for local-mode worktree dev
  package.json
  scripts/dev-local-worktree.ts
Due: fmt, lint

chore: gitignore .planning/ (GSD workflow state)
  .gitignore
Due: none

feat: add local-mode auth, auto-login, seed, and OAuth redirect support
  apps/mesh/src/api/routes/auth.ts
  apps/mesh/src/api/routes/public-config.ts
  apps/mesh/src/auth/local-mode.ts
  apps/mesh/src/core/server-constants.ts
  apps/mesh/src/database/index.ts
  apps/mesh/src/index.ts
  apps/mesh/src/web/providers/theme-provider.tsx
  apps/mesh/src/web/routes/home.tsx
  apps/mesh/src/web/routes/login.tsx
  packages/mesh-sdk/src/index.ts
  packages/mesh-sdk/src/lib/mcp-oauth.ts
Due: fmt, lint

fix: prevent concurrent OAuth auth clicks on OpenRouter button
  apps/mesh/src/web/components/chat/no-llm-binding-empty-state.tsx
Due: fmt, lint

fix(ci): update npm version check to use renamed package name (#2640)
  .github/workflows/release.yaml
  apps/mesh/README.md
Due: fmt

docs: rename MCP Mesh to deco Studio in README
  README.md
Due: fmt

docs: reframe intro and expand Projects section
  README.md
Due: fmt

fix(chat): improve task stream management and query invalidation
  apps/mesh/src/web/components/chat/context.tsx
Due: fmt, lint

docs: fix database references — SQLite → PGlite
  README.md
Due: fmt

Path conditions:
  fmt: any of: *.{ts,tsx,js,jsx,json,md}
  lint: any of: *.{ts,tsx,js,jsx}
