Repository decocms/mesh: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, lint

lefthook.yml:

# Lefthook configuration for mesh monorepo
# Install: npx lefthook install

pre-commit:
  parallel: true
  commands:
    fmt:
      glob: "*.{ts,tsx,js,jsx,json,md}"
      run: bunx biome format --write {staged_files}
      stage_fixed: true
    lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: bunx oxlint {staged_files}

docs(runtime): improve OAuth interface documentation
  packages/runtime/src/tools.ts
Due: fmt, lint

Fix/runtime oauth typings (#2384)
  packages/runtime/package.json
  packages/runtime/src/oauth.ts
  packages/runtime/src/tools.ts
Due: fmt, lint

fix(connections): ensure configuration_state is never null
  apps/mesh/src/tools/connection/update.ts
Due: fmt, lint

fix(connections): simplify finalScopes validation
  apps/mesh/src/tools/connection/update.ts
Due: fmt, lint

refactor(connection-settings): improve form state handling and clean up unused code
  apps/mesh/src/web/components/details/connection/settings-tab/index.tsx
  apps/mesh/src/web/components/details/connection/settings-tab/mcp-configuration-form.tsx
  packages/mesh-sdk/src/hooks/use-collections.ts
Due: fmt, lint

fix(connections): simplify finalScopes validation (#2385)
  apps/mesh/src/tools/connection/update.ts
Due: fmt, lint

refactor(connection-settings): improve form state handling and clean up unused code (#2386)
  apps/mesh/src/web/components/details/connection/settings-tab/index.tsx
  apps/mesh/src/web/components/details/connection/settings-tab/mcp-configuration-form.tsx
  packages/mesh-sdk/src/hooks/use-collections.ts
Due: fmt, lint

ci(workflows): migrate npm publishing to OIDC authentication
  .github/workflows/publish-bindings.yml
  .github/workflows/publish-cli-npm.yaml
  .github/workflows/publish-create-deco-npm.yaml
  .github/workflows/publish-runtime-npm.yaml
  .github/workflows/publish-vite-plugin-npm.yaml
  .github/workflows/release.yaml
Due: none

chore(cli): bump version to 0.29.0
  packages/cli/package.json
Due: fmt

fix(workflows): add missing npm-tag output in vite-plugin publish workflow
  .github/workflows/publish-vite-plugin-npm.yaml
Due: none

fix(ci): update Node.js version to 24 in publish workflows
  .github/workflows/publish-cli-npm.yaml
  .github/workflows/release.yaml
Due: none

fix(ci): add --tag logic to release.yaml for prerelease versions
  .github/workflows/publish-runtime-npm.yaml
  .github/workflows/release.yaml
Due: none

refactor(ci): migrate workflow version checks to use npm view
  .github/workflows/publish-bindings.yml
  .github/workflows/publish-create-deco-npm.yaml
  .github/workflows/publish-mesh-sdk-npm.yaml
Due: none

chore: add repository field to package.json files
  packages/bindings/package.json
  packages/cli/package.json
  packages/create-deco/package.json
  packages/mesh-sdk/package.json
  packages/runtime/package.json
  packages/vite-plugin-deco/package.json
Due: fmt

fix(ci): check specific version existence instead of comparing against latest tag
  .github/workflows/publish-bindings.yml
  .github/workflows/publish-mesh-sdk-npm.yaml
  .github/workflows/publish-runtime-npm.yaml
  .github/workflows/publish-vite-plugin-npm.yaml
  .github/workflows/release.yaml
Due: none

fix(ci): complete OIDC migration for mesh-sdk publish workflow
  .github/workflows/publish-mesh-sdk-npm.yaml
Due: none

ci(workflows): migrate npm publishing to OIDC authentication (#2387)
  .github/workflows/publish-bindings.yml
  .github/workflows/publish-cli-npm.yaml
  .github/workflows/publish-create-deco-npm.yaml
  .github/workflows/publish-mesh-sdk-npm.yaml
  .github/workflows/publish-runtime-npm.yaml
  .github/workflows/publish-vite-plugin-npm.yaml
  .github/workflows/release.yaml
  packages/bindings/package.json
  packages/cli/package.json
  packages/create-deco/package.json
  packages/mesh-sdk/package.json
  packages/runtime/package.json
  packages/vite-plugin-deco/package.json
Due: fmt

fix(ci): add Node.js setup to runtime publish workflow
  .github/workflows/publish-runtime-npm.yaml
Due: none

fix(runtime): resolve CI failure in JSON schema generation
  packages/runtime/scripts/generate-json-schema.ts
Due: fmt, lint

fix(runtime): resolve CI failure in JSON schema generation (#2390)
  packages/runtime/scripts/generate-json-schema.ts
Due: fmt, lint

fix(tests): move Postman to OAuth-supporting servers list
  apps/mesh/src/api/routes/oauth-proxy.e2e.test.ts
Due: fmt, lint

fix(tests): move Postman to OAuth-supporting servers list (#2391)
  apps/mesh/src/api/routes/oauth-proxy.e2e.test.ts
Due: fmt, lint

fix(home): add z-index and background to header for proper stacking
  apps/mesh/src/web/routes/orgs/home/page.tsx
Due: fmt, lint

fix(home): add z-index and background to header for proper stacking (#2392)
  apps/mesh/src/web/routes/orgs/home/page.tsx
Due: fmt, lint

fix(shell): prevent crash when accessing non-existent organization
  apps/mesh/src/web/layouts/shell-layout.tsx
Due: fmt, lint

fix(shell): prevent crash when accessing non-existent organization (#2393)
  apps/mesh/src/web/layouts/shell-layout.tsx
Due: fmt, lint

mark as done
  tasks/README.md
Due: fmt

task 002
  apps/mesh/src/core/context-factory.ts
  apps/mesh/src/core/define-tool.test.ts
  apps/mesh/src/core/mesh-context.test.ts
  apps/mesh/src/core/mesh-context.ts
  apps/mesh/src/tools/connection/connection-tools.test.ts
  apps/mesh/src/tools/index.ts
  apps/mesh/src/tools/organization/organization-tools.test.ts
  apps/mesh/src/tools/projects/create.ts
  apps/mesh/src/tools/projects/delete.ts
  apps/mesh/src/tools/projects/get.ts
  apps/mesh/src/tools/projects/index.ts
  apps/mesh/src/tools/projects/list.ts
  apps/mesh/src/tools/projects/plugin-config-get.ts
  apps/mesh/src/tools/projects/plugin-config-update.ts
  apps/mesh/src/tools/projects/schema.ts
  apps/mesh/src/tools/projects/update.ts
  apps/mesh/src/tools/registry.ts
  tasks/README.md
Due: fmt, lint

init plans
  tasks/001-database-schema-storage.md
  tasks/002-mcp-tools.md
  tasks/003-routing-refactor.md
  tasks/004-project-layout-context.md
  tasks/005-sidebar-groups.md
  tasks/006-topbar-header.md
  tasks/007-projects-list-page.md
  tasks/008-project-settings.md
  tasks/009-project-creation.md
  tasks/README.md
Due: fmt

task 001
  apps/mesh/migrations/032-projects.ts
  apps/mesh/migrations/index.ts
  apps/mesh/src/core/constants.ts
  apps/mesh/src/shared/utils/generate-id.ts
  apps/mesh/src/storage/ports.ts
  apps/mesh/src/storage/project-plugin-configs.ts
  apps/mesh/src/storage/projects.ts
  apps/mesh/src/storage/types.ts
  tasks/README.md
Due: fmt, lint

task 003
  apps/mesh/src/tools/projects/schema.ts
  apps/mesh/src/web/components/binding-collection-empty-state.tsx
  apps/mesh/src/web/components/chat/input.tsx
  apps/mesh/src/web/components/chat/no-llm-binding-empty-state.tsx
  apps/mesh/src/web/components/details/connection/collection-tab.tsx
  apps/mesh/src/web/components/details/connection/index.tsx
  apps/mesh/src/web/components/details/connection/prompts-tab.tsx
  apps/mesh/src/web/components/details/connection/settings-tab/connection-virtual-mcps-section.tsx
  apps/mesh/src/web/components/details/connection/settings-tab/mcp-configuration-form.tsx
  apps/mesh/src/web/components/details/tool.tsx
  apps/mesh/src/web/components/details/virtual-mcp/index.tsx
  apps/mesh/src/web/components/details/workflow/index.tsx
  apps/mesh/src/web/components/monitoring/analytics-top-agents.tsx
  apps/mesh/src/web/components/monitoring/analytics-top-servers.tsx
  apps/mesh/src/web/components/monitoring/analytics-top-tools.tsx
  apps/mesh/src/web/components/monitoring/types.tsx
  apps/mesh/src/web/components/sidebar/header/account-switcher/index.tsx
  apps/mesh/src/web/components/store/store-discovery.tsx
  apps/mesh/src/web/components/store/store-registry-empty-state.tsx
  apps/mesh/src/web/components/tools/tools-list.tsx
  apps/mesh/src/web/hooks/use-create-virtual-mcp.ts
  apps/mesh/src/web/hooks/use-project-sidebar-items.tsx
  apps/mesh/src/web/index.tsx
  apps/mesh/src/web/layouts/project-layout.tsx
  apps/mesh/src/web/layouts/shell-layout.tsx
  apps/mesh/src/web/routes/orgs/agents.tsx
  apps/mesh/src/web/routes/orgs/collection-detail.tsx
  apps/mesh/src/web/routes/orgs/connections.tsx
  apps/mesh/src/web/routes/orgs/monitoring.tsx
  apps/mesh/src/web/routes/orgs/settings.tsx
  apps/mesh/src/web/routes/orgs/settings/plugins.tsx
  apps/mesh/src/web/routes/orgs/store/mcp-server-detail.tsx
  apps/mesh/src/web/routes/project-settings.tsx
  apps/mesh/src/web/routes/projects-list.tsx
  apps/mesh/src/web/routes/store-invite.tsx
  apps/mesh/src/web/routes/tasks.tsx
  docs/plans/projects-feature/01-database-schema.md
Due: fmt, lint

task 005
  apps/mesh/src/web/components/sidebar/index.tsx
  apps/mesh/src/web/components/sidebar/navigation.tsx
  apps/mesh/src/web/components/sidebar/sidebar-group.tsx
  apps/mesh/src/web/components/sidebar/types.ts
  apps/mesh/src/web/hooks/use-project-sidebar-items.tsx
  tasks/README.md
Due: fmt, lint

fix(plugin-bindings): disable selector while config is loading
  apps/mesh/src/web/components/settings/plugin-bindings-form.tsx
Due: fmt, lint

shell changes
  apps/mesh/src/web/components/sidebar/header/account-switcher/index.tsx
  apps/mesh/src/web/components/sidebar/header/account-switcher/org-item.tsx
  apps/mesh/src/web/components/sidebar/header/account-switcher/org-panel.tsx
  apps/mesh/src/web/components/sidebar/header/account-switcher/project-panel.tsx
  apps/mesh/src/web/components/sidebar/header/index.tsx
  apps/mesh/src/web/components/sidebar/project-switcher.tsx
  apps/mesh/src/web/layouts/shell-layout.tsx
Due: fmt, lint

task 006
  apps/mesh/src/web/components/sidebar/footer/inbox/index.tsx
  apps/mesh/src/web/components/sidebar/header/index.tsx
  apps/mesh/src/web/components/sidebar/index.tsx
  apps/mesh/src/web/components/sidebar/navigation.tsx
  apps/mesh/src/web/components/sidebar/project-switcher.tsx
  apps/mesh/src/web/components/topbar/project-topbar.tsx
  apps/mesh/src/web/layouts/shell-layout.tsx
  packages/ui/src/components/sidebar.tsx
  tasks/README.md
Due: fmt, lint

readd removed file
  apps/mesh/src/web/components/sidebar/footer/inbox/invitation-item.tsx
Due: fmt, lint

fix project list css
  apps/mesh/src/web/components/project-card.tsx
  apps/mesh/src/web/routes/projects-list.tsx
Due: fmt, lint

use constant
  apps/mesh/migrations/032-projects.ts
  apps/mesh/src/auth/org.ts
  apps/mesh/src/core/constants.ts
  apps/mesh/src/tools/projects/create.ts
  apps/mesh/src/tools/projects/delete.ts
  apps/mesh/src/web/components/binding-collection-empty-state.tsx
  apps/mesh/src/web/components/chat/input.tsx
  apps/mesh/src/web/components/chat/no-llm-binding-empty-state.tsx
  apps/mesh/src/web/components/details/connection/index.tsx
  apps/mesh/src/web/components/details/connection/prompts-tab.tsx
  apps/mesh/src/web/components/details/connection/settings-tab/mcp-configuration-form.tsx
  apps/mesh/src/web/components/details/tool.tsx
  apps/mesh/src/web/components/monitoring/analytics-top-servers.tsx
  apps/mesh/src/web/components/monitoring/analytics-top-tools.tsx
  apps/mesh/src/web/components/monitoring/types.tsx
  apps/mesh/src/web/components/sidebar/header/account-switcher/index.tsx
  apps/mesh/src/web/components/store/store-discovery.tsx
  apps/mesh/src/web/components/store/store-registry-empty-state.tsx
  apps/mesh/src/web/hooks/use-create-virtual-mcp.ts
  apps/mesh/src/web/index.tsx
  apps/mesh/src/web/routes/orgs/agents.tsx
  apps/mesh/src/web/routes/orgs/connections.tsx
  apps/mesh/src/web/routes/orgs/store/mcp-server-detail.tsx
  apps/mesh/src/web/routes/store-invite.tsx
Due: fmt, lint

ok tasks are kind of done
  apps/mesh/src/auth/org.ts
  apps/mesh/src/tools/projects/plugin-config-update.ts
  apps/mesh/src/web/components/binding-selector.tsx
  apps/mesh/src/web/components/color-picker.tsx
  apps/mesh/src/web/components/create-project-dialog.tsx
  apps/mesh/src/web/components/project-card.tsx
  apps/mesh/src/web/components/settings/danger-zone.tsx
  apps/mesh/src/web/components/settings/plugin-bindings-form.tsx
  apps/mesh/src/web/components/settings/project-general-form.tsx
  apps/mesh/src/web/components/settings/project-plugins-form.tsx
  apps/mesh/src/web/components/sidebar/project-switcher.tsx
  apps/mesh/src/web/hooks/use-project-sidebar-items.tsx
  apps/mesh/src/web/layouts/plugin-layout.tsx
  apps/mesh/src/web/layouts/shell-layout.tsx
  apps/mesh/src/web/lib/slug.ts
  apps/mesh/src/web/routes/project-settings.tsx
  apps/mesh/src/web/routes/projects-list.tsx
  packages/bindings/src/core/plugin-router.tsx
  packages/mesh-sdk/src/context/index.ts
  packages/mesh-sdk/src/context/project-context.tsx
  packages/mesh-sdk/src/index.ts
  tasks/README.md
Due: fmt, lint

bring back the topbar
  apps/mesh/src/web/components/topbar/project-topbar.tsx
  apps/mesh/src/web/layouts/shell-layout.tsx
Due: fmt, lint
