Repository decocms/mesh: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, lint

fmt:
  run: bunx biome format --write {staged_files}
  stage_fixed: true

lint:
  run: bunx oxlint {staged_files}

fix(decopilot): prevent Cloudflare 524 timeout on stream endpoint (#2509)
  apps/mesh/src/api/routes/decopilot/routes.ts
Due: fmt, lint

feat(site-research): add Site Research client plugin
  apps/mesh/package.json
  apps/mesh/src/api/routes/local-dev-discover.ts
  apps/mesh/src/api/routes/proxy.ts
  apps/mesh/src/web/components/binding-selector.tsx
  apps/mesh/src/web/layouts/plugin-layout.tsx
  apps/mesh/src/web/plugins.ts
  packages/cli/src/lib/local-dev-manager.ts
  packages/cli/src/lib/mesh-auth.test.ts
  packages/cli/src/lib/mesh-auth.ts
  packages/cli/src/lib/mesh-client.ts
  packages/local-dev/src/logger.ts
  packages/local-dev/src/server.ts
  packages/local-dev/src/tools.ts
  packages/mesh-plugin-declare/components/declare-layout.tsx
  packages/mesh-plugin-declare/components/declare-setup.tsx
  packages/mesh-plugin-declare/index.tsx
  packages/mesh-plugin-declare/lib/binding.ts
  packages/mesh-plugin-declare/lib/query-keys.ts
  packages/mesh-plugin-declare/package.json
  packages/mesh-plugin-declare/tsconfig.json
  packages/mesh-plugin-object-storage/index.tsx
  packages/mesh-plugin-site-research/components/hire-agent-cta.tsx
  packages/mesh-plugin-site-research/components/research-layout.tsx
  packages/mesh-plugin-site-research/components/research-list.tsx
  packages/mesh-plugin-site-research/components/research-progress.tsx
  packages/mesh-plugin-site-research/components/research-report.tsx
  packages/mesh-plugin-site-research/components/research-start-form.tsx
  packages/mesh-plugin-site-research/hooks/use-research-progress.ts
  packages/mesh-plugin-site-research/hooks/use-research-runner.ts
  packages/mesh-plugin-site-research/hooks/use-research-sessions.ts
  packages/mesh-plugin-site-research/index.tsx
  packages/mesh-plugin-site-research/lib/query-keys.ts
  packages/mesh-plugin-site-research/lib/report.ts
  packages/mesh-plugin-site-research/lib/steps.ts
  packages/mesh-plugin-site-research/lib/storage.ts
  packages/mesh-plugin-site-research/lib/types.ts
  packages/mesh-plugin-site-research/package.json
  packages/mesh-plugin-site-research/shared.ts
  packages/mesh-plugin-site-research/tsconfig.json
  packages/mesh-sdk/src/hooks/use-collections.ts
Due: fmt, lint

remove import
  apps/mesh/src/api/routes/virtual-mcp.ts
Due: fmt, lint

Update apps/mesh/src/api/routes/virtual-mcp.ts
  apps/mesh/src/api/routes/virtual-mcp.ts
Due: fmt, lint

Update README.md
  README.md
Due: fmt

refactor(typegen): rename mesh-admin.decocms.com to studio.decocms.com
  packages/typegen/README.md
  packages/typegen/src/cli.ts
  packages/typegen/src/index.ts
  packages/typegen/src/runtime.test.ts
  packages/typegen/src/runtime.ts
Due: fmt, lint

docs: rename mesh-admin.decocms.com to studio.decocms.com
  apps/docs/client/src/content/draft/en/mcp-mesh/quickstart.mdx
  docs/plans/2026-02-25-typegen-cli-design.md
  docs/plans/2026-02-25-typegen-implementation.md
Due: fmt

remove unused docs
  docs/plans/2026-02-23-ui-migration-design.md
  docs/plans/2026-02-23-ui-migration-plan.md
  docs/plans/2026-02-25-typegen-cli-design.md
  docs/plans/2026-02-25-typegen-implementation.md
Due: fmt

Add billing page - mock for now
  apps/mesh/src/web/components/settings-modal/index.tsx
  apps/mesh/src/web/components/settings-modal/pages/org-billing.tsx
  apps/mesh/src/web/components/settings-modal/sidebar.tsx
  apps/mesh/src/web/hooks/use-settings-modal.ts
Due: fmt, lint

Add credits in sidebar
  apps/mesh/src/web/components/sidebar/footer/inbox.tsx
Due: fmt, lint

fix(token-issuing): persist configuration_scopes from MCP_CONFIGURATION on create/update
  apps/mesh/src/auth/org.ts
  apps/mesh/src/tools/connection/connection-tools.test.ts
  apps/mesh/src/tools/connection/create.ts
  apps/mesh/src/tools/connection/fetch-tools.ts
  apps/mesh/src/tools/connection/update.ts
Due: fmt, lint

fix(token-issuing): persist configuration_scopes from MCP_CONFIGURATION on create/update (#2519)
  apps/mesh/src/auth/org.ts
  apps/mesh/src/tools/connection/connection-tools.test.ts
  apps/mesh/src/tools/connection/create.ts
  apps/mesh/src/tools/connection/fetch-tools.ts
  apps/mesh/src/tools/connection/update.ts
Due: fmt, lint

feat(billing): integrate AI Gateway billing with real MCP data
  apps/mesh/src/web/components/settings-modal/pages/org-billing.tsx
  apps/mesh/src/web/components/sidebar/footer/inbox.tsx
Due: fmt, lint

fix(billing): reset dialog state on postpaid success and clamp usedPct
  apps/mesh/src/web/components/settings-modal/pages/org-billing.tsx
Due: fmt, lint

Add billing page - mock for now (#2517)
  apps/mesh/src/web/components/settings-modal/index.tsx
  apps/mesh/src/web/components/settings-modal/pages/org-billing.tsx
  apps/mesh/src/web/components/settings-modal/sidebar.tsx
  apps/mesh/src/web/components/sidebar/footer/inbox.tsx
  apps/mesh/src/web/hooks/use-settings-modal.ts
Due: fmt, lint

fix(billing): use exact URL match for AI Gateway connection detection
  apps/mesh/src/core/deco-constants.ts
  apps/mesh/src/web/components/settings-modal/pages/org-billing.tsx
  apps/mesh/src/web/components/sidebar/footer/inbox.tsx
Due: fmt, lint

fix(billing): use centralized constant for AI Gateway URL detection
  apps/mesh/src/core/deco-constants.ts
  apps/mesh/src/web/components/settings-modal/pages/org-billing.tsx
  apps/mesh/src/web/components/sidebar/footer/inbox.tsx
Due: fmt, lint

chore: bump @decocms/typegen
  packages/typegen/package.json
Due: fmt

fix(chat): preserve toolApprovalLevel across addToolOutput/addToolApprovalResponse re-sends (#2521)
  apps/mesh/src/web/components/chat/context.tsx
Due: fmt, lint

fix(config): remove redundant MESH_URL env var in favor of ctx.baseUrl
  apps/mesh/src/mcp-clients/outbound/headers.ts
  package.json
Due: fmt, lint

fix(event-bus): add diagnostic logging for auth flow in event delivery (#2523)
  apps/mesh/src/core/context-factory.ts
  apps/mesh/src/event-bus/notify.ts
  apps/mesh/src/mcp-clients/outbound/headers.ts
  apps/mesh/src/mcp-clients/outbound/index.ts
  packages/runtime/src/bindings.ts
  packages/runtime/src/index.ts
Due: fmt, lint

add support to claude worktress (#2526)
  .gitignore
Due: none

fix(cli): auto-build frontend and prompt for data directory
  apps/mesh/src/cli.ts
Due: fmt, lint

fix(local-mode): use valid email format for local admin user
  apps/mesh/src/api/routes/auth.ts
  apps/mesh/src/auth/local-mode.ts
Due: fmt, lint

fix(local-mode): use DB for admin role and auto-redirect to first org
  apps/mesh/src/auth/local-mode.ts
  apps/mesh/src/web/routes/home.tsx
Due: fmt, lint

feat(local-mode): use OS username for admin user and org name
  apps/mesh/src/api/routes/auth.ts
  apps/mesh/src/auth/local-mode.ts
Due: fmt, lint

feat(collection-reorder): enhance collection management in ranking plugin
  packages/bindings/src/well-known/reports.ts
  packages/farmrio-collection-reorder/components/collections-list.tsx
  packages/farmrio-collection-reorder/components/ranking-layout.tsx
  packages/farmrio-collection-reorder/components/rankings-list.tsx
  packages/farmrio-collection-reorder/lib/types.ts
Due: fmt, lint

feat(local-mode): auto-auth connection flow and dev script
  apps/mesh/package.json
  apps/mesh/scripts/dev.ts
  apps/mesh/src/web/components/chat/no-llm-binding-empty-state.tsx
  apps/mesh/src/web/components/details/connection/index.tsx
  apps/mesh/src/web/hooks/use-binding.ts
  apps/mesh/src/web/lib/authenticate-connection.ts
Due: fmt, lint

fix(model-selector): remove non-working providers from default shortlist
  apps/mesh/src/web/components/chat/select-model.tsx
Due: fmt, lint

feat(worktree): make dev ports configurable via env vars for worktree isolation
  .claude/settings.json
  .claude/setup-worktree.sh
  apps/mesh/playwright.config.ts
  apps/mesh/vite.config.ts
  packages/runtime/src/asset-server/index.ts
Due: fmt, lint

feat(worktree): make dev ports configurable via env vars for worktree isolation (#2531)
  .claude/settings.json
  .claude/setup-worktree.sh
  apps/mesh/playwright.config.ts
  apps/mesh/vite.config.ts
  packages/runtime/src/asset-server/index.ts
Due: fmt, lint

feat(worktree): add default launch.json and simplify setup script
  .claude/launch.json
  .claude/setup-worktree.sh
Due: fmt

fix(worktree): fix stdin consumption in WorktreeCreate hook
  .claude/settings.json
  .claude/setup-worktree.sh
Due: fmt

fix(worktree): fix stdin consumption in WorktreeCreate hook (#2535)
  .claude/settings.json
  .claude/setup-worktree.sh
Due: fmt

feat(mcp-apps): reset branch and add @modelcontextprotocol/ext-apps SDK
  apps/mesh/package.json
  docs/plans/2026-02-26-mcp-apps-step0-reset-and-dependencies.md
  docs/plans/2026-02-26-mcp-apps-step1-types-and-helpers.md
  docs/plans/2026-02-26-mcp-apps-step2-appbridge-renderer.md
  docs/plans/2026-02-26-mcp-apps-step3-widget-tools.md
  docs/plans/2026-02-26-mcp-apps-step4-ui-integration.md
  docs/plans/2026-02-26-mcp-apps-step5-registration-and-tests.md
Due: fmt

feat(widgets): add React components for built-in widgets
  apps/mesh/src/web/routes/widgets/_route.tsx
  apps/mesh/src/web/routes/widgets/area-chart.tsx
  apps/mesh/src/web/routes/widgets/calendar.tsx
  apps/mesh/src/web/routes/widgets/chart.tsx
  apps/mesh/src/web/routes/widgets/code.tsx
  apps/mesh/src/web/routes/widgets/counter.tsx
  apps/mesh/src/web/routes/widgets/sparkline.tsx
  apps/mesh/src/web/routes/widgets/table.tsx
  apps/mesh/src/web/routes/widgets/use-widget.ts
Due: fmt, lint

refactor(ui-widgets): simplify resources.ts to path-based entries
  apps/mesh/src/tools/ui-widgets/resources.ts
Due: fmt, lint

fix(mcp-apps): polish widget contrast, fix code/markdown/image/stats-grid
  apps/mesh/src/tools/ui-widgets/resources.ts
Due: fmt, lint

fix(mcp-apps): fix oauth token 401, CSP warning, and widget postMessage protocol
  apps/mesh/src/mcp-apps/csp-injector.test.ts
  apps/mesh/src/mcp-apps/csp-injector.ts
  apps/mesh/src/tools/ui-widgets/resources.ts
  packages/mesh-sdk/src/lib/mcp-oauth.ts
Due: fmt, lint

Path conditions:
  fmt: any of: *.{ts,tsx,js,jsx,json,md}
  lint: any of: *.{ts,tsx,js,jsx}
