Repository decocms/mesh: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, lint

lefthook.yml:

# Lefthook configuration for mesh monorepo
# Install: npx lefthook install

pre-commit:
  parallel: true
  commands:
    fmt:
      glob: "*.{ts,tsx,js,jsx,json,md}"
      run: bunx biome format --write {staged_files}
      stage_fixed: true
    lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: bunx oxlint {staged_files}

docs(nav): reorder decopilot menu to match overview structure
  apps/docs/client/src/components/ui/Sidebar.astro
  apps/docs/client/src/utils/navigation.ts
Due: fmt, lint

docs(decopilot): update code examples with correct resource_read signatures
  apps/docs/client/src/content/en/mcp-mesh/decopilot/quickstart.mdx
  apps/docs/client/src/content/en/mcp-mesh/decopilot/tools.mdx
Due: none

docs(decopilot): simplify scopes page for non-technical users
  apps/docs/client/src/content/en/mcp-mesh/decopilot/scopes.mdx
Due: none

docs: implement decopilot documentation improvements plan
  apps/docs/client/src/content/en/mcp-mesh/decopilot/architecture.mdx
  apps/docs/client/src/content/en/mcp-mesh/decopilot/context-management.mdx
  apps/docs/client/src/content/en/mcp-mesh/decopilot/overview.mdx
  apps/docs/client/src/content/en/mcp-mesh/decopilot/quickstart.mdx
  apps/docs/client/src/content/en/mcp-mesh/decopilot/scopes.mdx
  apps/docs/client/src/content/en/mcp-mesh/decopilot/spawning-agents.mdx
  apps/docs/client/src/content/en/mcp-mesh/decopilot/tools.mdx
  apps/docs/client/src/utils/navigation.ts
Due: fmt, lint

docs: document decopilot scope concept
  apps/docs/client/src/content/en/mcp-mesh/decopilot/scopes.mdx
Due: none

docs(self-hosting): add comprehensive self-hosting guides
  apps/docs/client/src/content/en/mcp-mesh/self-hosting/authentication.mdx
  apps/docs/client/src/content/en/mcp-mesh/self-hosting/deploy/docker-compose.mdx
  apps/docs/client/src/content/en/mcp-mesh/self-hosting/deploy/kubernetes.mdx
  apps/docs/client/src/content/en/mcp-mesh/self-hosting/quickstart.mdx
Due: none

docs(examples): update documentation examples to focus on e-commerce use cases
  apps/docs/client/src/content/en/full-code-guides/building-tools.mdx
  apps/docs/client/src/content/en/full-code-guides/building-views.mdx
  apps/docs/client/src/content/en/mcp-mesh/agents.mdx
  apps/docs/client/src/content/en/mcp-mesh/concepts.mdx
  apps/docs/client/src/content/en/mcp-mesh/projects.mdx
  apps/docs/client/src/content/en/mcp-mesh/quickstart.mdx
  apps/docs/client/src/content/en/mcp-mesh/virtual-mcps.mdx
  apps/docs/client/src/content/en/no-code-guides/creating-tools.mdx
Due: none

docs: add decopilot quickstart redesign plan
  docs/plans/2026-02-10-decopilot-quickstart-redesign.md
Due: fmt

docs(quickstart): redesign decopilot quickstart for non-technical users
  apps/docs/client/src/content/en/mcp-mesh/decopilot/quickstart.mdx
Due: none

docs(decopilot): update examples to use e-commerce scenarios
  apps/docs/client/src/content/en/mcp-mesh/decopilot/overview.mdx
  apps/docs/client/src/content/en/mcp-mesh/decopilot/tools.mdx
  apps/docs/client/src/content/en/mcp-mesh/virtual-mcps.mdx
Due: none

docs(api-reference): update built-in tools examples to e-commerce context
  apps/docs/client/src/content/en/mcp-mesh/api-reference/built-in-tools/subtask-run.mdx
  apps/docs/client/src/content/en/mcp-mesh/api-reference/built-in-tools/tool-enable.mdx
  apps/docs/client/src/content/en/mcp-mesh/api-reference/built-in-tools/tool-search.mdx
Due: none

docs: remove completed quickstart redesign plan
  docs/plans/2026-02-10-decopilot-quickstart-redesign.md
Due: fmt

fix(mcp-clients): preserve Client prototype methods in withToolCaching decorator
  apps/mesh/src/mcp-clients/decorators/with-tool-caching.ts
Due: fmt, lint

fix(mcp-clients): preserve Client prototype methods in withToolCaching decorator (#2417)
  apps/mesh/src/mcp-clients/decorators/with-tool-caching.ts
Due: fmt, lint

fix(mcp-clients): restore monitoring for streamable tool calls
  apps/mesh/src/mcp-clients/decorators/with-streaming-support.ts
Due: fmt, lint

fix(mcp-clients): restore monitoring for streamable tool calls (#2418)
  apps/mesh/src/mcp-clients/decorators/with-streaming-support.ts
Due: fmt, lint

feat(decopilot): add user_ask built-in tool
  apps/mesh/src/api/routes/decopilot/built-in-tools/index.ts
  apps/mesh/src/api/routes/decopilot/built-in-tools/registration.test.ts
  apps/mesh/src/api/routes/decopilot/built-in-tools/user-ask.e2e.test.ts
  apps/mesh/src/api/routes/decopilot/built-in-tools/user-ask.test.ts
  apps/mesh/src/api/routes/decopilot/built-in-tools/user-ask.ts
  apps/mesh/src/api/routes/decopilot/constants.ts
  apps/mesh/src/api/routes/decopilot/routes.ts
  apps/mesh/src/api/routes/decopilot/types.ts
Due: fmt, lint

feat(storage): upsert thread messages for user_ask resolution
  apps/mesh/src/api/routes/decopilot/conversation.test.ts
  apps/mesh/src/api/routes/decopilot/conversation.ts
  apps/mesh/src/storage/ports.ts
  apps/mesh/src/storage/threads.test.ts
  apps/mesh/src/storage/threads.ts
Due: fmt, lint

feat(chat): add user_ask UI and integration
  apps/mesh/src/web/components/chat/context.tsx
  apps/mesh/src/web/components/chat/highlight/index.tsx
  apps/mesh/src/web/components/chat/highlight/user-ask-question.tsx
  apps/mesh/src/web/components/chat/highlight/user-ask-schemas.ts
  apps/mesh/src/web/components/chat/index.tsx
  apps/mesh/src/web/components/chat/input.tsx
  apps/mesh/src/web/components/chat/message/assistant.tsx
  apps/mesh/src/web/components/chat/message/pair.tsx
  apps/mesh/src/web/components/chat/message/user.tsx
  apps/mesh/src/web/components/chat/thread/cache-operations.ts
  apps/mesh/src/web/components/chat/thread/index.ts
  apps/mesh/src/web/components/chat/thread/types.ts
  apps/mesh/src/web/components/chat/thread/use-thread-manager.ts
  apps/mesh/src/web/components/chat/types.ts
Due: fmt, lint

docs: add user_ask built-in tool API reference
  apps/docs/client/src/content/en/api-reference/built-in-tools/user-ask.mdx
Due: none

docs: add implementation plan for cache/db inconsistency fix
  docs/plans/2026-02-11-fix-cache-db-inconsistency.md
Due: fmt

docs: remove test writing from cache/db fix plan
  docs/plans/2026-02-11-fix-cache-db-inconsistency.md
Due: fmt

feat(decopilot): enhance conversation processing and model compatibility
  apps/mesh/src/api/routes/decopilot/constants.ts
  apps/mesh/src/api/routes/decopilot/conversation.test.ts
  apps/mesh/src/api/routes/decopilot/conversation.ts
  apps/mesh/src/api/routes/decopilot/model-compat.ts
  apps/mesh/src/api/routes/decopilot/routes.ts
  apps/mesh/src/api/routes/decopilot/schemas.ts
  apps/mesh/src/storage/types.ts
Due: fmt, lint

add version in user panel
  apps/mesh/src/web/components/sidebar/header/account-switcher/user-panel.tsx
  apps/mesh/src/web/components/user-menu.tsx
  apps/mesh/src/web/components/user-settings-dialog.tsx
Due: fmt, lint

perf(event-bus): parallelize subscriber batch delivery
  apps/mesh/src/event-bus/worker.ts
Due: fmt, lint

perf(event-bus): parallelize subscriber batch delivery (#2422)
  apps/mesh/src/event-bus/worker.ts
Due: fmt, lint

refactor(chat): extract UserAskQuestionPart into dedicated component and fix types
  apps/mesh/src/web/components/chat/message/assistant.tsx
  apps/mesh/src/web/components/chat/message/pair.tsx
  apps/mesh/src/web/components/chat/message/parts/user-ask-part.tsx
Due: fmt, lint

refactor(chat): unify user-ask form with combined schema and improved UX
  apps/mesh/src/web/components/chat/highlight/index.tsx
  apps/mesh/src/web/components/chat/highlight/user-ask-question.tsx
  apps/mesh/src/web/components/chat/highlight/user-ask-schemas.ts
Due: fmt, lint

chore: add version in user panel (#2420)
  apps/mesh/src/web/components/sidebar/header/account-switcher/user-panel.tsx
  apps/mesh/src/web/components/user-menu.tsx
  apps/mesh/src/web/components/user-settings-dialog.tsx
Due: fmt, lint

fix: show proper error message on connections delete error
  apps/mesh/src/tools/connection/delete.ts
Due: fmt, lint

fix: show proper error message on connections delete error (#2423)
  apps/mesh/src/tools/connection/delete.ts
Due: fmt, lint

fix(private-registry): address security, correctness and robustness issues
  apps/mesh/src/web/components/store/mcp-server-detail/mcp-server-tabs-content.tsx
  packages/mesh-plugin-private-registry/client/components/registry-item-dialog.tsx
  packages/mesh-plugin-private-registry/client/components/registry-items-page.tsx
  packages/mesh-plugin-private-registry/client/hooks/use-ai-generate.ts
  packages/mesh-plugin-private-registry/client/hooks/use-registry.ts
  packages/mesh-plugin-private-registry/client/lib/query-keys.ts
  packages/mesh-plugin-private-registry/server/routes/public-mcp-server.ts
  packages/mesh-plugin-private-registry/server/storage/registry-item.ts
  packages/mesh-plugin-private-registry/server/tools/discover-tools.ts
  packages/mesh-plugin-private-registry/server/tools/get.ts
  packages/mesh-plugin-private-registry/server/tools/schema.ts
  packages/ui/src/components/llm-model-selector.tsx
Due: fmt, lint

refactor(private-registry): remove all useEffect/useMemo from plugin client
  packages/mesh-plugin-private-registry/client/components/registry-item-dialog.tsx
  packages/mesh-plugin-private-registry/client/components/registry-layout.tsx
  packages/mesh-plugin-private-registry/client/components/registry-settings-page.tsx
Due: fmt, lint

feat(private-registry): improve CSV import dialog UX
  packages/mesh-plugin-private-registry/client/components/csv-import-dialog.tsx
Due: fmt, lint

refactor(decopilot): consolidate Memory interface into exported class
  apps/mesh/src/api/routes/decopilot/conversation.ts
  apps/mesh/src/api/routes/decopilot/memory.ts
  apps/mesh/src/api/routes/decopilot/types.ts
Due: fmt, lint

fix(decopilot): use consistent DEFAULT_THREAD_TITLE for title generation
  apps/mesh/src/api/routes/decopilot/constants.ts
  apps/mesh/src/api/routes/decopilot/routes.ts
  apps/mesh/src/storage/threads.ts
Due: fmt, lint

fix: security and reliability improvements
  apps/mesh/package.json
  apps/mesh/src/web/components/store/mcp-server-detail/mcp-server-tabs-content.tsx
  packages/mesh-plugin-private-registry/client/hooks/use-image-upload.ts
  packages/mesh-plugin-private-registry/server/tools/discover-tools.ts
Due: fmt, lint

fix(csv-import): only block import on missing header columns, not row warnings
  packages/mesh-plugin-private-registry/client/components/csv-import-dialog.tsx
Due: fmt, lint
