Repository decocms/mesh: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, lint

fmt:
  run: bunx biome format --write {staged_files}
  stage_fixed: true

lint:
  run: bunx oxlint {staged_files}

fix: combine abort signal + finally for client pool disposal
  apps/mesh/src/api/app.ts
Due: fmt, lint

fix(store): prefer Deco Store over Mesh MCP as default registry (#2602)
  apps/mesh/src/web/components/store/mcp-server-card.tsx
  apps/mesh/src/web/routes/orgs/store/page.tsx
Due: fmt, lint

fix: add catch to finally-path client pool disposal
  apps/mesh/src/api/app.ts
Due: fmt, lint

feat: auto-select org in local mode, skip org picker
  apps/mesh/src/web/routes/home.tsx
Due: fmt, lint

feat: local-first DX with package rename to decocms
  .github/workflows/release.yaml
  DEBT.md
  README.md
  apps/benchmark/package.json
  apps/benchmark/server/mesh.ts
  apps/docs/client/src/content/draft/en/mcp-mesh/self-hosting/quickstart.mdx
  apps/docs/client/src/content/draft/pt-br/introduction.mdx
  apps/docs/client/src/content/draft/pt-br/mcp-mesh/quickstart.mdx
  apps/docs/client/src/content/latest/en/introduction.mdx
  apps/docs/client/src/content/latest/en/mcp-mesh/quickstart.mdx
  apps/docs/client/src/content/latest/pt-br/introduction.mdx
  apps/docs/client/src/content/latest/pt-br/mcp-mesh/quickstart.mdx
  apps/mesh/Dockerfile
  apps/mesh/package.json
  apps/mesh/scripts/bootstrap.ts
  apps/mesh/scripts/dev.ts
  apps/mesh/src/api/routes/auth.ts
  apps/mesh/src/api/routes/decopilot/constants.ts
  apps/mesh/src/api/routes/dev-assets-mcp.ts
  apps/mesh/src/api/routes/dev-assets.ts
  apps/mesh/src/auth/local-mode.ts
  apps/mesh/src/cli.ts
  apps/mesh/src/index.ts
  apps/mesh/src/web/components/chat/context.tsx
  apps/mesh/src/web/components/chat/no-llm-binding-empty-state.tsx
  apps/mesh/src/web/components/details/connection/index.tsx
  apps/mesh/src/web/lib/authenticate-connection.ts
  packages/mesh-sdk/src/lib/mcp-oauth.ts
Due: fmt, lint

fix: ignore concurrently in knip (spawned via shell in dev.ts)
  knip.jsonc
Due: none

feat: add AutoLogin component for local-mode auto-session
  apps/mesh/src/web/routes/login.tsx
Due: fmt, lint

feat: add dev:local:conductor for local-mode worktree dev
  package.json
  scripts/dev-local-worktree.ts
Due: fmt, lint

refactor: replace setup.ts with dev:local, keep dev unchanged from main
  README.md
  apps/mesh/package.json
  apps/mesh/scripts/dev-local.ts
  apps/mesh/scripts/setup.ts
  package.json
Due: fmt, lint

fix: address PR review — postMessage security, dev-assets dedup, local-mode hardening
  apps/mesh/src/api/routes/dev-assets-mcp.ts
  apps/mesh/src/api/routes/dev-assets.ts
  apps/mesh/src/auth/local-mode.ts
  apps/mesh/src/web/lib/mcp-oauth.test.ts
  packages/mesh-sdk/src/lib/mcp-oauth.ts
Due: fmt, lint

docs: add local-mode correctness findings to DEBT.md
  DEBT.md
Due: fmt

fix: invalidate connections query after OAuth to refresh LLM bindings
  apps/mesh/src/web/lib/authenticate-connection.ts
Due: fmt, lint

fix: revert postMessage to "*" for local dev — cross-origin proxy breaks targeted origin
  apps/mesh/src/web/lib/mcp-oauth.test.ts
  packages/mesh-sdk/src/lib/mcp-oauth.ts
Due: fmt, lint

refactor: simplify dev-local.ts — setup env then delegate to bun run dev
  apps/mesh/scripts/dev-local.ts
Due: fmt, lint

feat(skills): add respond-to-pr-review skill
  .cursor/skills/respond-to-pr-review/SKILL.md
Due: fmt

feat(skills): add respond-to-pr-review skill (#2604)
  .cursor/skills/respond-to-pr-review/SKILL.md
Due: fmt

fix(db): fix PGlite singleton sharing and add plugin migrations to test schema
  .github/workflows/e2e.yml
  apps/mesh/src/database/index.ts
  apps/mesh/src/storage/test-helpers.ts
Due: fmt, lint

fix(db): fix remaining enabled: number → boolean in event-bus inserts
  apps/mesh/src/storage/event-bus.ts
Due: fmt, lint

fix: address cubic review findings — singleton invariant, SQL injection, test coverage
  apps/mesh/src/database/index.test.ts
  apps/mesh/src/database/index.ts
  packages/cli/src/commands/projects/export.ts
Due: fmt, lint

refactor: remove databaseType from MeshContextConfig (no longer needed)
  apps/mesh/src/api/app.ts
  apps/mesh/src/core/context-factory.test.ts
  apps/mesh/src/core/context-factory.ts
Due: fmt, lint

fix(db): default PGlite path to ~/deco/db.pglite for stable location
  apps/mesh/src/database/index.test.ts
  apps/mesh/src/database/index.ts
Due: fmt, lint

feat(db): add kysely-pglite dialect, remove kysely-bun-worker
  apps/mesh/package.json
Due: fmt

refactor(db): migrate integer boolean columns to native BOOLEAN type
  apps/mesh/migrations/036-boolean-columns.ts
  apps/mesh/migrations/index.ts
  apps/mesh/src/storage/event-bus.ts
  apps/mesh/src/storage/monitoring.ts
  apps/mesh/src/storage/types.ts
Due: fmt, lint

feat(db): replace SQLite factory with PGlite (PostgreSQL WASM)
  apps/mesh/src/database/index.test.ts
  apps/mesh/src/database/index.ts
Due: fmt, lint

refactor(db): remove all remaining SQLite references across codebase
  AGENTS.md
  apps/benchmark/server/mesh.ts
  apps/mesh/src/event-bus/event-bus.ts
  apps/mesh/src/event-bus/index.ts
  apps/mesh/src/event-bus/interface.ts
  apps/mesh/src/event-bus/polling.ts
  apps/mesh/src/event-bus/worker.ts
  apps/mesh/src/storage/event-bus.ts
  apps/mesh/src/storage/monitoring.test.ts
  packages/cli/src/commands/projects/export.ts
  packages/mesh-plugin-private-registry/server/routes/public-publish-request.ts
  packages/mesh-plugin-user-sandbox/package.json
  packages/mesh-plugin-user-sandbox/server/__tests__/services/completion.test.ts
  packages/mesh-plugin-user-sandbox/server/__tests__/storage/user-sandbox.test.ts
  packages/mesh-plugin-user-sandbox/server/tools/create-session.ts
  packages/mesh-plugin-workflows/package.json
  packages/mesh-plugin-workflows/server/__tests__/test-helpers.ts
Due: fmt, lint

refactor: remove all remaining sqlite references and BunWorkerDialect imports
  apps/mesh/scripts/bundle-server-script.ts
  apps/mesh/src/cli.ts
  apps/mesh/src/storage/connection.test.ts
  apps/mesh/src/storage/monitoring.ts
  apps/mesh/src/storage/types.ts
  apps/mesh/src/tools/connection/connection-tools.test.ts
Due: fmt, lint

fix(db): use getDatabaseUrl() as fallback in parseDatabaseUrl
  apps/mesh/src/database/index.ts
Due: fmt, lint

docs: add infrastructure architecture design
  docs/plans/2026-03-05-infrastructure-architecture-design.md
Due: fmt

refactor(db): remove sqlite:// backward compat and update deploy docs
  apps/mesh/src/database/index.test.ts
  apps/mesh/src/database/index.ts
  deploy/README.md
  deploy/conf-examples/env.example
Due: fmt, lint

fix(cli): scope constraint query join by table OID to prevent cross-joins
  packages/cli/src/commands/projects/export.ts
Due: fmt, lint

fix(tests): restore test isolation for PGlite default path test
  apps/mesh/src/database/index.test.ts
Due: fmt, lint

ci: add build:server smoke test to CI workflow
  .github/workflows/test.yml
Due: none

fix(db): address PR review findings — singleton lifecycle, cleanup, stale refs
  apps/benchmark/server/mesh.ts
  apps/mesh/src/cli.ts
  apps/mesh/src/database/index.ts
  apps/mesh/src/database/migrate.ts
  apps/mesh/src/event-bus/event-bus.ts
  apps/mesh/src/storage/event-bus.ts
  packages/mesh-plugin-user-sandbox/server/__tests__/services/completion.test.ts
  packages/mesh-plugin-user-sandbox/server/__tests__/storage/user-sandbox.test.ts
  packages/mesh-plugin-user-sandbox/server/tools/create-session.ts
  packages/mesh-plugin-workflows/server/__tests__/test-helpers.ts
  packages/mesh-plugin-workflows/server/engine/__tests__/crash-recovery.test.ts
  packages/mesh-plugin-workflows/server/engine/__tests__/durability.test.ts
  packages/mesh-plugin-workflows/server/engine/__tests__/orchestrator.test.ts
  packages/mesh-plugin-workflows/server/engine/__tests__/stress.test.ts
  packages/mesh-plugin-workflows/server/engine/__tests__/stuck-prevention.test.ts
  packages/mesh-plugin-workflows/server/events/__tests__/handler.test.ts
  packages/mesh-plugin-workflows/server/storage/__tests__/workflow-execution.test.ts
Due: fmt, lint

fix(test): increase timeout for OAuth proxy E2E tests hitting external servers
  apps/mesh/src/api/routes/oauth-proxy.e2e.test.ts
Due: fmt, lint

feat(event-bus): update strategy selection for PGlite compatibility
  apps/mesh/src/event-bus/index.ts
  apps/mesh/src/event-bus/polling.ts
  apps/mesh/src/event-bus/strategy-selection.test.ts
Due: fmt, lint

docs: add section-02 NATS messaging implementation plan
  docs/plans/2026-03-05-infrastructure-architecture-design.md
  docs/plans/section-02-nats-messaging/00-overview.md
  docs/plans/section-02-nats-messaging/01-pglite-database-type.md
  docs/plans/section-02-nats-messaging/02-strategy-selection.md
Due: fmt

fix(decopilot): handle ghost runs and guard thread completion
  apps/mesh/src/api/routes/decopilot/routes.ts
  apps/mesh/src/api/routes/decopilot/run-registry.test.ts
  apps/mesh/src/api/routes/decopilot/run-registry.ts
Due: fmt, lint

fix(decopilot): fix nats subscription cleanup and sse onAbort handler
  apps/mesh/src/api/app.ts
  apps/mesh/src/api/routes/decopilot/nats-stream-buffer.ts
Due: fmt, lint

feat: add local-mode auth, auto-login, seed, and OAuth redirect support
  apps/mesh/src/api/routes/auth.ts
  apps/mesh/src/api/routes/public-config.ts
  apps/mesh/src/auth/local-mode.ts
  apps/mesh/src/core/server-constants.ts
  apps/mesh/src/database/index.ts
  apps/mesh/src/index.ts
  apps/mesh/src/web/providers/theme-provider.tsx
  apps/mesh/src/web/routes/home.tsx
  apps/mesh/src/web/routes/login.tsx
  packages/mesh-sdk/src/index.ts
  packages/mesh-sdk/src/lib/mcp-oauth.ts
Due: fmt, lint

Path conditions:
  fmt: any of: *.{ts,tsx,js,jsx,json,md}
  lint: any of: *.{ts,tsx,js,jsx}
