Repository decocms/mesh: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, lint

lefthook.yml:

# Lefthook configuration for mesh monorepo
# Install: npx lefthook install

pre-commit:
  parallel: true
  commands:
    fmt:
      glob: "*.{ts,tsx,js,jsx,json,md}"
      run: bunx biome format --write {staged_files}
      stage_fixed: true
    lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: bunx oxlint {staged_files}

docs: define milestone v1.3 requirements
  .planning/REQUIREMENTS.md
Due: fmt

docs: create milestone v1.3 roadmap (4 phases)
  .planning/MILESTONES.md
  .planning/PROJECT.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: fmt

fix IDOR in /org/:organizationId/watch endpoint
  apps/mesh/src/api/app.ts
Due: fmt, lint

fix authz-vuln-04
  apps/mesh/src/api/app.ts
Due: fmt, lint

docs(v1.3): amend plan — bash over git tools, deco link in cli, projects-as-MCPs to v1.4
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: fmt

feat(reports): enhance CriterionItem schema and update report detail layout
  packages/bindings/src/well-known/reports.ts
  packages/mesh-plugin-reports/components/report-detail.tsx
  packages/mesh-plugin-reports/components/report-sections.tsx
Due: fmt, lint

fix(reports-plugin): guard against missing sections/unknown status, add Tailwind source
  packages/mesh-plugin-reports/components/report-detail.tsx
  packages/mesh-plugin-reports/components/status-badge.tsx
  packages/ui/src/styles/global.css
Due: fmt, lint

fix(reports-plugin): guard against missing sections/unknown status, add Tailwind source (#2473)
  packages/mesh-plugin-reports/components/report-detail.tsx
  packages/mesh-plugin-reports/components/status-badge.tsx
  packages/ui/src/styles/global.css
Due: fmt, lint

feat(reports): update RankedListRow schema and calculation of delta
  packages/bindings/src/well-known/reports.ts
  packages/mesh-plugin-reports/components/report-sections.tsx
Due: fmt, lint

refactor(reports): replace fragment shorthand with Fragment component in RankedListSection
  packages/mesh-plugin-reports/components/report-sections.tsx
Due: fmt, lint

fix IDOR in /org/:organizationId/watch endpoint (#2471)
  apps/mesh/src/api/app.ts
Due: fmt, lint

feat(chat): enhance usage stats and context window display
  apps/mesh/src/web/components/chat/input.tsx
  apps/mesh/src/web/components/chat/message/assistant.tsx
  apps/mesh/src/web/components/chat/usage-stats.tsx
Due: fmt, lint

refactor(chat): rename and enhance usage stats components
  apps/mesh/src/web/components/chat/input.tsx
  apps/mesh/src/web/components/chat/message/assistant.tsx
  apps/mesh/src/web/components/chat/message/parts/tool-call-part/common.tsx
  apps/mesh/src/web/components/chat/usage-stats.tsx
Due: fmt, lint

fix(store): correct private registry discovery and private-only visibility
  apps/mesh/src/web/components/store/mcp-server-card.tsx
  apps/mesh/src/web/components/store/store-discovery.tsx
  apps/mesh/src/web/components/store/types.ts
  apps/mesh/src/web/hooks/use-binding.ts
  apps/mesh/src/web/routes/orgs/store/page.tsx
  apps/mesh/src/web/utils/registry-utils.ts
  packages/mesh-plugin-private-registry/client/components/registry-layout.tsx
  packages/mesh-plugin-private-registry/client/components/registry-settings-page.tsx
  packages/mesh-plugin-private-registry/client/hooks/use-registry.ts
  packages/mesh-plugin-private-registry/server/tools/collection-registry-app.ts
  packages/mesh-plugin-private-registry/server/tools/index.ts
  packages/mesh-plugin-private-registry/server/tools/monitor-connection-sync.ts
  packages/mesh-plugin-private-registry/server/tools/utils.ts
Due: fmt, lint

Feat/chat ctx window display (#2474)
  apps/mesh/src/web/components/chat/input.tsx
  apps/mesh/src/web/components/chat/message/assistant.tsx
  apps/mesh/src/web/components/chat/message/parts/tool-call-part/common.tsx
  apps/mesh/src/web/components/chat/usage-stats.tsx
Due: fmt, lint

Feat/store private registry fixes (#2475)
  apps/mesh/src/web/components/store/mcp-server-card.tsx
  apps/mesh/src/web/components/store/store-discovery.tsx
  apps/mesh/src/web/components/store/types.ts
  apps/mesh/src/web/hooks/use-binding.ts
  apps/mesh/src/web/routes/orgs/store/page.tsx
  apps/mesh/src/web/utils/registry-utils.ts
  packages/mesh-plugin-private-registry/client/components/monitor-configuration.tsx
  packages/mesh-plugin-private-registry/client/components/monitor-connections-panel.tsx
  packages/mesh-plugin-private-registry/client/components/monitor-dashboard.tsx
  packages/mesh-plugin-private-registry/client/components/monitor-run-history.tsx
  packages/mesh-plugin-private-registry/client/components/registry-layout.tsx
  packages/mesh-plugin-private-registry/client/components/registry-settings-page.tsx
  packages/mesh-plugin-private-registry/client/hooks/use-registry.ts
  packages/mesh-plugin-private-registry/server/tools/collection-registry-app.ts
  packages/mesh-plugin-private-registry/server/tools/index.ts
  packages/mesh-plugin-private-registry/server/tools/monitor-connection-sync.ts
  packages/mesh-plugin-private-registry/server/tools/utils.ts
Due: fmt, lint

feat(event-bus): add NatsNotifyStrategy with env-based strategy selection
  apps/mesh/package.json
  apps/mesh/src/event-bus/index.ts
  apps/mesh/src/event-bus/nats-notify.ts
  design/nats-event-bus-exploration.md
  design/nats-notify-strategy.md
Due: fmt, lint

Enhance tool output handling and conversation processing
  apps/mesh/src/api/llm-provider.ts
  apps/mesh/src/api/routes/decopilot/built-in-tools/index.ts
  apps/mesh/src/api/routes/decopilot/built-in-tools/read-tool-output.ts
  apps/mesh/src/api/routes/decopilot/conversation.ts
  apps/mesh/src/api/routes/decopilot/helpers.ts
  apps/mesh/src/api/routes/decopilot/routes.ts
  apps/mesh/src/sandbox/index.ts
  apps/mesh/src/sandbox/run-code.ts
Due: fmt, lint

Refactor conversation tests and enhance tool output handling
  apps/mesh/src/api/routes/decopilot/built-in-tools/registration.test.ts
  apps/mesh/src/api/routes/decopilot/built-in-tools/subtask.test.ts
  apps/mesh/src/api/routes/decopilot/built-in-tools/subtask.ts
  apps/mesh/src/api/routes/decopilot/built-in-tools/user-ask.e2e.test.ts
  apps/mesh/src/api/routes/decopilot/conversation.test.ts
Due: fmt, lint

Refactor tool output retrieval in createReadToolOutputTool
  apps/mesh/src/api/routes/decopilot/built-in-tools/read-tool-output.ts
Due: fmt, lint

feat(reports): enhance report detail layout and section grouping
  packages/bindings/src/well-known/reports.ts
  packages/mesh-plugin-reports/components/report-detail.tsx
  packages/mesh-plugin-reports/components/report-sections.tsx
Due: fmt, lint

Refactor tool output handling in Decopilot API
  apps/mesh/src/api/routes/decopilot/built-in-tools/subtask.ts
  apps/mesh/src/api/routes/decopilot/helpers.ts
  apps/mesh/src/api/routes/decopilot/routes.ts
Due: fmt, lint

.
  apps/mesh/src/api/routes/decopilot/routes.ts
Due: fmt, lint

Enhance tool output handling and conversation processing (#2477)
  apps/mesh/src/api/llm-provider.ts
  apps/mesh/src/api/routes/decopilot/built-in-tools/index.ts
  apps/mesh/src/api/routes/decopilot/built-in-tools/read-tool-output.ts
  apps/mesh/src/api/routes/decopilot/built-in-tools/registration.test.ts
  apps/mesh/src/api/routes/decopilot/built-in-tools/subtask.test.ts
  apps/mesh/src/api/routes/decopilot/built-in-tools/subtask.ts
  apps/mesh/src/api/routes/decopilot/built-in-tools/user-ask.e2e.test.ts
  apps/mesh/src/api/routes/decopilot/conversation.test.ts
  apps/mesh/src/api/routes/decopilot/conversation.ts
  apps/mesh/src/api/routes/decopilot/helpers.ts
  apps/mesh/src/api/routes/decopilot/routes.ts
  apps/mesh/src/sandbox/index.ts
  apps/mesh/src/sandbox/run-code.ts
Due: fmt, lint

remove design docs from branch
  design/nats-event-bus-exploration.md
  design/nats-notify-strategy.md
Due: fmt

fix(event-bus): redact NATS_URL credentials in logs, throw when NATS_URL missing
  apps/mesh/src/event-bus/index.ts
Due: fmt, lint

feat(event-bus): add NatsNotifyStrategy with env-based strategy selection (#2476)
  apps/mesh/package.json
  apps/mesh/src/event-bus/index.ts
  apps/mesh/src/event-bus/nats-notify.ts
Due: fmt, lint

docs: add NATS local setup instructions and bun run nats script
  apps/mesh/README.md
  package.json
Due: fmt

chore: ignore nats-server binary in knip
  knip.jsonc
Due: none

docs: recommend .env over inline env var for NATS_URL
  apps/mesh/README.md
Due: fmt

docs: remove bun run nats script, just run nats-server directly
  apps/mesh/README.md
  knip.jsonc
  package.json
Due: fmt

docs: add NATS local setup instructions (#2478)
  apps/mesh/README.md
Due: fmt

feat(15-01): transplant storage.ts and logger.ts from local-fs
  packages/local-dev/src/logger.ts
  packages/local-dev/src/storage.ts
Due: fmt, lint

feat(15-01): add packages/local-dev package scaffold
  packages/local-dev/package.json
  packages/local-dev/tsconfig.json
Due: fmt

feat(15-02): transplant filesystem tools to local-dev (LDV-02)
  packages/local-dev/src/tools.ts
Due: fmt, lint

test(15-05): add integration + unit tests for local-dev package
  packages/local-dev/src/bash.test.ts
  packages/local-dev/src/server.test.ts
  packages/local-dev/src/tools.test.ts
Due: fmt, lint

feat(15-04): add cli.ts entry point, index.ts public API, delete mcp-local-object-storage
  packages/local-dev/src/cli.ts
  packages/local-dev/src/index.ts
Due: fmt, lint

feat(15-03): add bash tool with child process tracking (LDV-04)
  packages/local-dev/src/bash.ts
Due: fmt, lint

feat(15-04): add watch.ts SSE handler and server.ts HTTP server
  packages/local-dev/src/server.ts
  packages/local-dev/src/watch.ts
Due: fmt, lint

chore: ignore .claude/ and .planning/ directories
  .gitignore
Due: none
