Repository decocms/mesh: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, lint

fmt:
  run: bunx biome format --write {staged_files}
  stage_fixed: true

lint:
  run: bunx oxlint {staged_files}

feat(s3-sync): add lightweight Alpine Dockerfile with s5cmd
  deploy/s3-sync/Dockerfile
Due: none

feat(helm): replace OTel Collector sidecar with shared namespace-level Deployment (#3057)
  deploy/helm/Chart.lock
  deploy/helm/Chart.yaml
  deploy/helm/charts/opentelemetry-collector-0.147.2.tgz
  deploy/helm/templates/_helpers.tpl
  deploy/helm/templates/configmap-otel-collector.yaml
  deploy/helm/templates/deployment.yaml
  deploy/helm/values.yaml
Due: none

feat(s3-sync): replace aws-cli with s5cmd in sync script
  deploy/helm/templates/configmap-s3-sync.yaml
Due: none

feat(s3-sync): update defaults for lightweight s5cmd-based sidecar
  deploy/helm/values.yaml
Due: none

ci(s3-sync): add Docker build workflow for s3-sync sidecar
  .github/workflows/release-s3-sync.yaml
Due: none

refactor(ci): rename release.yaml to release-mesh.yaml
  .github/workflows/release-mesh.yaml
  .github/workflows/release-tagging.yaml
Due: none

fix(s3-sync): address PR review feedback
  .github/workflows/release-s3-sync.yaml
  deploy/helm/templates/configmap-s3-sync.yaml
Due: none

feat(s3-sync): replace aws-cli with lightweight s5cmd-based sidecar (#3063)
  .github/workflows/release-mesh.yaml
  .github/workflows/release-s3-sync.yaml
  .github/workflows/release-tagging.yaml
  deploy/helm/templates/configmap-s3-sync.yaml
  deploy/helm/values.yaml
  deploy/s3-sync/Dockerfile
Due: none

Update Chart.yaml
  deploy/helm/Chart.yaml
Due: none

fix(s3-sync): correct checksums filename for s5cmd download
  .github/workflows/release-s3-sync.yaml
  deploy/s3-sync/Dockerfile
Due: none

chore: update bun.lock
  bun.lock
Due: none

fix(s3-sync): correct checksums filename for s5cmd download (#3064)
  .github/workflows/release-s3-sync.yaml
  bun.lock
  deploy/s3-sync/Dockerfile
Due: none

fix(s3-sync): match tarball filename to checksums for sha256 verification
  deploy/s3-sync/Dockerfile
Due: none

fix(s3-sync): match tarball filename to checksums for sha256 verification (#3065)
  deploy/s3-sync/Dockerfile
Due: none

fix(s3-sync): remove ECR push from release workflow
  .github/workflows/release-s3-sync.yaml
Due: none

fix(s3-sync): remove ECR push from release workflow (#3066)
  .github/workflows/release-s3-sync.yaml
Due: none

fix(org-domains): move onboarding route outside shell layout
  apps/mesh/src/web/index.tsx
Due: fmt, lint

fix(helm): reduce s3-sync memory usage with single worker
  deploy/helm/Chart.yaml
  deploy/helm/templates/configmap-s3-sync.yaml
  deploy/helm/values.yaml
Due: none

fix(helm): reduce s3-sync memory usage with single worker (#3067)
  deploy/helm/Chart.yaml
  deploy/helm/templates/configmap-s3-sync.yaml
  deploy/helm/values.yaml
Due: none

feat(helm): add HPA for otel collector and increase s3-sync memory
  deploy/helm/Chart.yaml
  deploy/helm/values.yaml
Due: none

feat(helm): enable otel collector HPA by default with full config
  deploy/helm/values.yaml
Due: none

fix(helm): increase s3-sync resource requests to 256Mi/256m
  deploy/helm/values.yaml
Due: none

fix(helm): set s3-sync cpu request to 200m
  deploy/helm/values.yaml
Due: none

feat(helm): add HPA for otel collector and increase s3-sync memory (#3068)
  deploy/helm/Chart.yaml
  deploy/helm/values.yaml
Due: none

fix(s3-sync): replace s5cmd with inotify+curl to fix OOM
  .github/workflows/release-s3-sync.yaml
  deploy/helm/templates/configmap-s3-sync.yaml
  deploy/helm/values.yaml
  deploy/s3-sync/Dockerfile
Due: none

[chore]: bump chart version to 0.6.0
  deploy/helm/Chart.yaml
Due: none

fix(s3-sync): replace s5cmd with inotify+curl to fix OOM (#3069)
  .github/workflows/release-s3-sync.yaml
  deploy/helm/Chart.yaml
  deploy/helm/templates/configmap-s3-sync.yaml
  deploy/helm/values.yaml
  deploy/s3-sync/Dockerfile
Due: none

feat(s3-sync): log successful uploads
  deploy/helm/templates/configmap-s3-sync.yaml
Due: none

[chore]: bump helm chart version to 0.6.1
  deploy/helm/Chart.yaml
Due: none

feat(s3-sync): log successful uploads (#3070)
  deploy/helm/Chart.yaml
  deploy/helm/templates/configmap-s3-sync.yaml
Due: none

fix(services): improve error message for missing locale on Linux
  apps/mesh/src/services/ensure-services.ts
Due: fmt, lint

fix(services): use "Linux systems" wording in locale error message
  apps/mesh/src/services/ensure-services.ts
Due: fmt, lint

fix(services): improve error message for missing locale on Linux (#3071)
  apps/mesh/src/services/ensure-services.ts
Due: fmt, lint

fix(invite): fix invite email styling, org redirect, and no-access UX
  apps/mesh/src/auth/index.ts
  apps/mesh/src/web/components/sidebar/footer/inbox.tsx
  apps/mesh/src/web/layouts/shell-layout.tsx
  bun.lock
Due: fmt, lint

fix(sandbox): prevent QuickJSUseAfterFree when host promises outlive runtime
  packages/mcp-utils/src/sandbox/run-code.test.ts
  packages/mcp-utils/src/sandbox/run-code.ts
  packages/mcp-utils/src/sandbox/runtime.ts
  packages/mcp-utils/src/sandbox/utils/to-quickjs.ts
Due: fmt, lint

fix(tests): remove Apify from OAuth proxy E2E tests
  apps/mesh/src/api/routes/oauth-proxy.e2e.test.ts
Due: fmt, lint

[chore]: bump @decocms/mcp-utils to 1.0.2
  packages/mcp-utils/package.json
Due: fmt

fix(sandbox): prevent QuickJSUseAfterFree when host promises outlive runtime (#3073)
  apps/mesh/src/api/routes/oauth-proxy.e2e.test.ts
  packages/mcp-utils/package.json
  packages/mcp-utils/src/sandbox/run-code.test.ts
  packages/mcp-utils/src/sandbox/run-code.ts
  packages/mcp-utils/src/sandbox/runtime.ts
  packages/mcp-utils/src/sandbox/utils/to-quickjs.ts
Due: fmt, lint

fix(bindings): remove callStreamableTool and streamable from all types
  packages/bindings/src/core/binder.ts
  packages/bindings/src/core/client/index.ts
  packages/bindings/src/core/client/mcp-client.ts
  packages/bindings/src/core/client/mcp.ts
  packages/bindings/src/core/client/proxy.ts
  packages/bindings/src/well-known/language-model.ts
Due: fmt, lint

fix(runtime): remove StreamableTool and streaming registration logic
  packages/runtime/README.md
  packages/runtime/src/bindings/binder.ts
  packages/runtime/src/tools.ts
Due: fmt, lint

Path conditions:
  fmt: any of: *.{ts,tsx,js,jsx,json,md}
  lint: any of: *.{ts,tsx,js,jsx}
