Repository decocms/mesh: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, lint

lefthook.yml:

# Lefthook configuration for mesh monorepo
# Install: npx lefthook install

pre-commit:
  parallel: true
  commands:
    fmt:
      glob: "*.{ts,tsx,js,jsx,json,md}"
      run: bunx biome format --write {staged_files}
      stage_fixed: true
    lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: bunx oxlint {staged_files}

feat(brand): add brand binding and structured brand storage
  apps/mesh/migrations/065-brand-context-structured.ts
  apps/mesh/migrations/index.ts
  apps/mesh/src/storage/brand-context.ts
  apps/mesh/src/storage/types.ts
  apps/mesh/src/tools/connection/list.ts
  apps/mesh/src/tools/index.ts
  apps/mesh/src/tools/organization/brand-context-extract.ts
  apps/mesh/src/tools/organization/brand-context-update.ts
  apps/mesh/src/tools/organization/brand-get.ts
  apps/mesh/src/tools/organization/index.ts
  apps/mesh/src/tools/organization/schema.ts
  apps/mesh/src/tools/registry-metadata.ts
  apps/mesh/src/web/hooks/use-binding.ts
  apps/mesh/src/web/views/settings/org-brand-context.tsx
  packages/bindings/package.json
  packages/bindings/src/index.ts
  packages/bindings/src/well-known/brand.ts
Due: fmt, lint

fix(org-domains): address PR review feedback
  apps/mesh/src/api/routes/auth.ts
  apps/mesh/src/storage/organization-domains.ts
Due: fmt, lint

fix: Files is now the default project view, toolbar matches top bar style
  apps/mesh/src/web/components/layout/content-toolbar.tsx
  apps/mesh/src/web/routes/agent-home.tsx
Due: fmt, lint

fix(brand): preserve unmapped colors in migration and fix metadata output
  apps/mesh/migrations/065-brand-context-structured.ts
  apps/mesh/src/tools/organization/brand-get.ts
Due: fmt, lint

fix(monitoring): fix audit search crash due to temporal dead zone
  apps/mesh/src/web/routes/orgs/monitoring/audit.tsx
Due: fmt, lint

fix(monitoring): fix audit search crash due to temporal dead zone (#3053)
  apps/mesh/src/web/routes/orgs/monitoring/audit.tsx
Due: fmt, lint

docs(runtime): expand deployment section with multi-platform pattern
  packages/runtime/README.md
Due: fmt

fix(brand-context): hide auto-extract UI when Firecrawl is not configured
  apps/mesh/src/api/routes/public-config.ts
  apps/mesh/src/web/views/settings/org-brand-context.tsx
Due: fmt, lint

fix(brand-context): hide auto-extract UI when Firecrawl is not configured (#3055)
  apps/mesh/src/api/routes/public-config.ts
  apps/mesh/src/web/views/settings/org-brand-context.tsx
Due: fmt, lint

fix(event-bus,otel): stop OOM crash loop and permanent-fail missing tools
  apps/mesh/src/event-bus/errors.ts
  apps/mesh/src/event-bus/notify.ts
  deploy/helm/templates/configmap-otel-collector.yaml
  deploy/helm/values.yaml
Due: fmt, lint

chore(helm): bump chart version to 0.3.2
  deploy/helm/Chart.yaml
Due: none

fix(event-bus,otel): stop OOM crash loop and permanent-fail missing tools (#3056)
  apps/mesh/src/event-bus/errors.ts
  apps/mesh/src/event-bus/notify.ts
  deploy/helm/Chart.yaml
  deploy/helm/templates/configmap-otel-collector.yaml
  deploy/helm/values.yaml
Due: fmt, lint

feat(ci): push docker image to ECR and build multi-arch (amd64+arm64)
  .github/workflows/release.yaml
Due: none

[release]: bump to 2.248.6
  apps/mesh/package.json
Due: fmt

feat(helm): add opentelemetry-collector subchart dependency and values
  deploy/helm/Chart.lock
  deploy/helm/Chart.yaml
  deploy/helm/charts/opentelemetry-collector-0.147.2.tgz
  deploy/helm/values.yaml
Due: none

feat(helm): replace otel-collector sidecar with shared service endpoint
  deploy/helm/templates/_helpers.tpl
  deploy/helm/templates/deployment.yaml
Due: none

chore(helm): remove obsolete otel-collector sidecar configmap
  deploy/helm/templates/configmap-otel-collector.yaml
Due: none

[chore]: bump helm chart version to 0.4.0
  deploy/helm/Chart.yaml
Due: none

refactor(org-domains): replace dynamic imports with static ones
  apps/mesh/src/api/routes/auth.ts
Due: fmt, lint

fix(gateway-client): tool and prompt resolution with fallback search
  packages/mcp-utils/src/aggregate/gateway-client.test.ts
  packages/mcp-utils/src/aggregate/gateway-client.ts
Due: fmt, lint

feat(tasks): project icons on tasks, filter/group by project or status
  apps/mesh/src/web/components/chat/side-panel-tasks.tsx
  apps/mesh/src/web/components/chat/tasks-panel.tsx
Due: fmt, lint

fix: swap FolderClosed (blocked icon) for Folder (plain) in toolbar
  apps/mesh/src/web/components/layout/content-toolbar.tsx
Due: fmt, lint

fix: task click navigates to project, labels show projects not agents
  apps/mesh/src/web/components/chat/side-panel-tasks.tsx
Due: fmt, lint

fix(store): remove store detail page, connect directly from catalog
  apps/mesh/src/web/components/store/mcp-server-card.tsx
  apps/mesh/src/web/components/store/mcp-server-detail/index.ts
  apps/mesh/src/web/components/store/mcp-server-detail/mcp-server-detail-header.tsx
  apps/mesh/src/web/components/store/mcp-server-detail/mcp-server-detail-sidebar.tsx
  apps/mesh/src/web/components/store/mcp-server-detail/mcp-server-detail-states.tsx
  apps/mesh/src/web/components/store/mcp-server-detail/mcp-server-hero-section.tsx
  apps/mesh/src/web/components/store/mcp-server-detail/mcp-server-tabs-content.tsx
  apps/mesh/src/web/components/store/mcp-server-detail/mcp-servers-list.tsx
  apps/mesh/src/web/components/store/mcp-server-detail/types.ts
  apps/mesh/src/web/components/store/types.ts
  apps/mesh/src/web/index.tsx
  apps/mesh/src/web/routes/orgs/connections.tsx
  apps/mesh/src/web/routes/orgs/store/mcp-server-detail.tsx
  apps/mesh/src/web/routes/store-invite.tsx
  apps/mesh/src/web/views/settings/org-store.tsx
Due: fmt, lint

fix: formatting
  apps/mesh/src/web/components/store/types.ts
  apps/mesh/src/web/views/settings/org-store.tsx
Due: fmt, lint

refactor(gateway-client): remove parseNamespace method to streamline name parsing
  packages/mcp-utils/src/aggregate/gateway-client.ts
Due: fmt, lint

fix(auth): prevent cross-tenant connection enumeration via OAuth metadata endpoints
  apps/mesh/src/api/routes/oauth-proxy.test.ts
  apps/mesh/src/api/routes/oauth-proxy.ts
Due: fmt, lint

fix(org-domains): use isLoading instead of isPending for disabled query
  apps/mesh/src/web/routes/onboarding.tsx
Due: fmt, lint

fix: remove dead code flagged by knip after store detail removal
  apps/mesh/package.json
  apps/mesh/src/web/components/readme/index.ts
  apps/mesh/src/web/components/readme/readme-viewer.tsx
  apps/mesh/src/web/components/tools/index.ts
  apps/mesh/src/web/components/tools/tools-list.tsx
  apps/mesh/src/web/lib/query-keys.ts
  apps/mesh/src/web/utils/github/github-icon.ts
  apps/mesh/src/web/utils/github/github-readme.ts
  apps/mesh/src/web/utils/github/index.ts
  apps/mesh/src/web/utils/registry-utils.ts
  apps/mesh/src/web/utils/server-name.ts
Due: fmt, lint

fix: clicking a task restores the project's UI view
  apps/mesh/src/web/components/chat/side-panel-tasks.tsx
  apps/mesh/src/web/components/chat/tasks-panel.tsx
Due: fmt, lint

fix(security): block SSRF via OAuth metadata discovery endpoints
  apps/mesh/src/api/routes/oauth-proxy.test.ts
  apps/mesh/src/api/routes/oauth-proxy.ts
  apps/mesh/src/shared/utils/url-validation.test.ts
  apps/mesh/src/shared/utils/url-validation.ts
Due: fmt, lint

fix: remove AUTHZ-VULN-06 changes to avoid PR conflicts
  apps/mesh/src/api/routes/oauth-proxy.test.ts
  apps/mesh/src/api/routes/oauth-proxy.ts
Due: fmt, lint

feat: add ALLOW_PRIVATE_NETWORK_CONNECTIONS env flag to bypass SSRF check
  apps/mesh/src/api/routes/oauth-proxy.ts
  apps/mesh/src/settings/resolve-config.ts
  apps/mesh/src/settings/types.ts
Due: fmt, lint

fix: resolve TypeScript strict mode errors in url-validation
  apps/mesh/src/shared/utils/url-validation.ts
Due: fmt, lint

feat: per-task layout persistence (chat + content panel state)
  apps/mesh/src/web/components/chat/tasks-panel.tsx
  apps/mesh/src/web/hooks/use-layout-state.ts
  apps/mesh/src/web/lib/task-layout-store.ts
Due: fmt, lint

[release]: bump mcp-utils version to 1.0.1
  packages/mcp-utils/package.json
Due: fmt

fix(gateway-client): tool and prompt resolution with fallback search (#3058)
  packages/mcp-utils/package.json
  packages/mcp-utils/src/aggregate/gateway-client.test.ts
  packages/mcp-utils/src/aggregate/gateway-client.ts
Due: fmt, lint

fix(store): remove store detail page, connect directly from catalog (#3059)
  apps/mesh/package.json
  apps/mesh/src/web/components/readme/index.ts
  apps/mesh/src/web/components/readme/readme-viewer.tsx
  apps/mesh/src/web/components/store/mcp-server-card.tsx
  apps/mesh/src/web/components/store/mcp-server-detail/index.ts
  apps/mesh/src/web/components/store/mcp-server-detail/mcp-server-detail-header.tsx
  apps/mesh/src/web/components/store/mcp-server-detail/mcp-server-detail-sidebar.tsx
  apps/mesh/src/web/components/store/mcp-server-detail/mcp-server-detail-states.tsx
  apps/mesh/src/web/components/store/mcp-server-detail/mcp-server-hero-section.tsx
  apps/mesh/src/web/components/store/mcp-server-detail/mcp-server-tabs-content.tsx
  apps/mesh/src/web/components/store/mcp-server-detail/mcp-servers-list.tsx
  apps/mesh/src/web/components/store/mcp-server-detail/types.ts
  apps/mesh/src/web/components/store/types.ts
  apps/mesh/src/web/components/tools/index.ts
  apps/mesh/src/web/components/tools/tools-list.tsx
  apps/mesh/src/web/index.tsx
  apps/mesh/src/web/lib/query-keys.ts
  apps/mesh/src/web/routes/orgs/connections.tsx
  apps/mesh/src/web/routes/orgs/store/mcp-server-detail.tsx
  apps/mesh/src/web/routes/store-invite.tsx
  apps/mesh/src/web/utils/github/github-icon.ts
  apps/mesh/src/web/utils/github/github-readme.ts
  apps/mesh/src/web/utils/github/index.ts
  apps/mesh/src/web/utils/registry-utils.ts
  apps/mesh/src/web/utils/server-name.ts
  apps/mesh/src/web/views/settings/org-store.tsx
Due: fmt, lint

fix(helm): render OTLP headers when explicit endpoint overrides collector
  deploy/helm/templates/deployment.yaml
Due: none

fix(org-domains): tighten already-a-member error detection
  apps/mesh/src/api/routes/auth.ts
Due: fmt, lint
