Repository decocms/mesh: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, lint

fmt:
  run: bunx biome format --write {staged_files}
  stage_fixed: true

lint:
  run: bunx oxlint {staged_files}

fix(14-01): replace missing RefreshCcw01 icon with lucide RefreshCw
  packages/mesh-plugin-site-editor/client/components/page-history.tsx
Due: fmt, lint

fix(git-ux): run git ops server-side, independent of MCP server type
  packages/mesh-plugin-site-editor/client/components/block-detail.tsx
  packages/mesh-plugin-site-editor/client/components/page-composer.tsx
  packages/mesh-plugin-site-editor/client/components/page-history.tsx
  packages/mesh-plugin-site-editor/client/index.tsx
  packages/mesh-plugin-site-editor/client/lib/git-api.ts
  packages/mesh-plugin-site-editor/client/lib/history-api.ts
  packages/mesh-plugin-site-editor/client/lib/pending-changes-api.ts
  packages/mesh-plugin-site-editor/client/lib/use-pending-changes.ts
  packages/mesh-plugin-site-editor/server/index.ts
  packages/mesh-plugin-site-editor/server/tools/git-routes.ts
Due: fmt, lint

feat(auth): add password reset flow
  apps/mesh/auth-config.example.json
  apps/mesh/src/api/routes/auth.ts
  apps/mesh/src/auth/index.ts
  apps/mesh/src/core/config.ts
  apps/mesh/src/web/components/unified-auth-form.tsx
  apps/mesh/src/web/index.tsx
  apps/mesh/src/web/routes/reset-password.tsx
  deploy/conf-examples/auth-config-sso-email.json.example
Due: fmt, lint

fix(connection): accept null icon in ConnectionCreateDataSchema
  packages/mesh-sdk/src/types/connection.ts
  packages/mesh-sdk/src/types/virtual-mcp.ts
Due: fmt, lint

fix(virtual-mcp): accept null icon in VirtualMCPUpdateDataSchema
  packages/mesh-sdk/src/types/virtual-mcp.ts
Due: fmt, lint

fix(connection): accept null icon in connection and virtual-mcp schemas (#2461)
  packages/mesh-sdk/src/types/connection.ts
  packages/mesh-sdk/src/types/virtual-mcp.ts
Due: fmt, lint

[release]: bump to 2.105.0
  apps/mesh/package.json
Due: fmt

style: fix biome formatting
  apps/mesh/src/auth/index.ts
  apps/mesh/src/web/components/unified-auth-form.tsx
  apps/mesh/src/web/routes/reset-password.tsx
Due: fmt, lint

chore(menu): remove workflows from org-admin sidebar
  apps/mesh/src/web/hooks/use-project-sidebar-items.tsx
Due: fmt, lint

chore(menu): remove workflows from org-admin sidebar (#2463)
  apps/mesh/src/web/hooks/use-project-sidebar-items.tsx
Due: fmt, lint

feat(docs): use client-side navigation for version switching
  apps/docs/client/src/components/ui/Sidebar.tsx
Due: fmt, lint

docs(quickstart): redesign decopilot quickstart for non-technical users
  apps/docs/client/src/content/en/mcp-mesh/decopilot/quickstart.mdx
Due: none

docs: replace MCP Mesh with decocms in agents.mdx
  apps/docs/client/src/content/en/mcp-mesh/agents.mdx
Due: none

docs: simplify virtual MCPs configuration section
  apps/docs/client/src/content/en/mcp-mesh/virtual-mcps.mdx
Due: none

docs(api-reference): update built-in tools examples to e-commerce context
  apps/docs/client/src/content/en/mcp-mesh/api-reference/built-in-tools/subtask-run.mdx
  apps/docs/client/src/content/en/mcp-mesh/api-reference/built-in-tools/tool-enable.mdx
  apps/docs/client/src/content/en/mcp-mesh/api-reference/built-in-tools/tool-search.mdx
Due: none

docs: restructure agents.mdx to match projects.mdx concise style
  apps/docs/client/src/content/en/mcp-mesh/agents.mdx
  apps/docs/client/src/content/en/mcp-mesh/concepts.mdx
  apps/docs/client/src/content/en/mcp-mesh/virtual-mcps.mdx
Due: none

docs: add decopilot quickstart redesign plan
  docs/plans/2026-02-10-decopilot-quickstart-redesign.md
Due: fmt

docs(branding): update decocms to deco CMS throughout documentation
  apps/docs/client/src/content/en/mcp-mesh/api-keys.mdx
  apps/docs/client/src/content/en/mcp-mesh/connections.mdx
  apps/docs/client/src/content/en/mcp-mesh/decopilot/overview.mdx
  apps/docs/client/src/content/en/mcp-mesh/monitoring.mdx
  apps/docs/client/src/content/en/mcp-mesh/user-management.mdx
  apps/docs/client/src/content/en/mcp-mesh/virtual-mcps.mdx
Due: none

docs: document decopilot context management
  apps/docs/client/src/content/en/mcp-mesh/decopilot/context-management.mdx
Due: none

docs: refactor agents/gateways terminology to Virtual MCPs
  apps/docs/client/src/content/en/mcp-mesh/virtual-mcps.mdx
Due: none

docs: document decopilot overview with Claude Code comparison
  apps/docs/client/src/content/en/mcp-mesh/decopilot/overview.mdx
Due: none

Update apps/docs/client/src/content/en/mcp-mesh/quickstart.mdx
  apps/docs/client/src/content/en/mcp-mesh/quickstart.mdx
Due: none

docs: align agents with SKILL.md pattern and clarify fields
  apps/docs/client/src/content/en/mcp-mesh/agents.mdx
Due: none

docs: document decopilot built-in tools
  apps/docs/client/src/content/en/mcp-mesh/decopilot/tools.mdx
Due: none

docs: implement decopilot documentation improvements plan
  apps/docs/client/src/content/en/mcp-mesh/decopilot/architecture.mdx
  apps/docs/client/src/content/en/mcp-mesh/decopilot/context-management.mdx
  apps/docs/client/src/content/en/mcp-mesh/decopilot/overview.mdx
  apps/docs/client/src/content/en/mcp-mesh/decopilot/quickstart.mdx
  apps/docs/client/src/content/en/mcp-mesh/decopilot/scopes.mdx
  apps/docs/client/src/content/en/mcp-mesh/decopilot/spawning-agents.mdx
  apps/docs/client/src/content/en/mcp-mesh/decopilot/tools.mdx
  apps/docs/client/src/utils/navigation.ts
Due: fmt, lint

docs(decopilot): update examples to use e-commerce scenarios
  apps/docs/client/src/content/en/mcp-mesh/decopilot/overview.mdx
  apps/docs/client/src/content/en/mcp-mesh/decopilot/tools.mdx
  apps/docs/client/src/content/en/mcp-mesh/virtual-mcps.mdx
Due: none

docs: document MCP Mesh projects concept
  apps/docs/client/src/content/en/mcp-mesh/projects.mdx
Due: none

docs(decopilot): simplify scopes page for non-technical users
  apps/docs/client/src/content/en/mcp-mesh/decopilot/scopes.mdx
Due: none

docs(decopilot): improve overview scopes section for clarity
  apps/docs/client/src/content/en/mcp-mesh/decopilot/overview.mdx
Due: none

docs(nav): reorder decopilot menu to match overview structure
  apps/docs/client/src/components/ui/Sidebar.astro
  apps/docs/client/src/utils/navigation.ts
Due: fmt, lint

docs(decopilot): update branding in quickstart and tasks pages
  apps/docs/client/src/content/en/mcp-mesh/decopilot/quickstart.mdx
  apps/docs/client/src/content/en/mcp-mesh/decopilot/tasks-and-spawning.mdx
Due: none

docs(api): restructure API reference navigation and add connection proxy documentation
  apps/docs/client/src/content/en/mcp-mesh/api-reference.mdx
  apps/docs/client/src/content/en/mcp-mesh/api-reference/connection-proxy.mdx
  apps/docs/client/src/utils/navigation.ts
Due: fmt, lint

docs(api): update built-in tools with correct parameter signatures
  apps/docs/client/src/content/en/mcp-mesh/api-reference/built-in-tools/prompt-read.mdx
  apps/docs/client/src/content/en/mcp-mesh/api-reference/built-in-tools/resource-read.mdx
  apps/docs/client/src/content/en/mcp-mesh/api-reference/built-in-tools/user-ask.mdx
Due: none

fix(docs): prevent keydown listener accumulation across navigations
  apps/docs/client/src/layouts/DocsLayout.astro
Due: none

docs: remove completed quickstart redesign plan
  docs/plans/2026-02-10-decopilot-quickstart-redesign.md
Due: fmt

docs: change landing page redirect to quickstart
  apps/docs/client/src/pages/[locale]/[...slug].astro
Due: none

docs: update branding and fix minor inconsistencies
  apps/docs/client/src/content/en/mcp-mesh/api-keys.mdx
  apps/docs/client/src/content/en/mcp-mesh/connections.mdx
  apps/docs/client/src/content/en/mcp-mesh/self-hosting/deploy/docker-compose.mdx
  apps/docs/client/src/content/en/mcp-mesh/self-hosting/deploy/kubernetes.mdx
  apps/docs/client/src/content/pt-br/introduction.mdx
Due: none

docs(content): update core documentation pages
  apps/docs/client/src/content/en/mcp-mesh/agents.mdx
  apps/docs/client/src/content/en/mcp-mesh/api-keys.mdx
  apps/docs/client/src/content/en/mcp-mesh/api-reference.mdx
  apps/docs/client/src/content/en/mcp-mesh/concepts.mdx
  apps/docs/client/src/content/en/mcp-mesh/connections.mdx
  apps/docs/client/src/content/en/mcp-mesh/overview.mdx
  apps/docs/client/src/content/en/mcp-mesh/projects.mdx
  apps/docs/client/src/content/en/mcp-mesh/quickstart.mdx
  apps/docs/client/src/content/en/mcp-mesh/virtual-mcps.mdx
Due: none

Path conditions:
  fmt: any of: *.{ts,tsx,js,jsx,json,md}
  lint: any of: *.{ts,tsx,js,jsx}
