Repository decocms/mesh: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, lint

fmt:
  run: bunx biome format --write {staged_files}
  stage_fixed: true

lint:
  run: bunx oxlint {staged_files}

fix(ui): move tasks toggle button to left toolbar next to nav arrows
  apps/mesh/src/web/layouts/shell-layout.tsx
Due: fmt, lint

fix(ui): move tasks toggle to the left of nav arrows
  apps/mesh/src/web/layouts/shell-layout.tsx
Due: fmt, lint

docs: fix decopilot overview tool names and scopes isolation claims (EN + PT-BR)
  apps/docs/client/src/content/deco-studio/en/studio/decopilot/overview.mdx
  apps/docs/client/src/content/deco-studio/en/studio/decopilot/scopes.mdx
  apps/docs/client/src/content/deco-studio/pt-br/studio/decopilot/overview.mdx
  apps/docs/client/src/content/deco-studio/pt-br/studio/decopilot/scopes.mdx
Due: none

docs: fix user-management API Keys page references (EN + PT-BR)
  apps/docs/client/src/content/deco-studio/en/studio/user-management.mdx
  apps/docs/client/src/content/deco-studio/pt-br/studio/user-management.mdx
Due: none

docs: fix decopilot tool names, concepts entities, monitoring scope, API keys
  apps/docs/client/src/content/deco-studio/en/studio/api-keys.mdx
  apps/docs/client/src/content/deco-studio/en/studio/concepts.mdx
  apps/docs/client/src/content/deco-studio/en/studio/decopilot/context.mdx
  apps/docs/client/src/content/deco-studio/en/studio/decopilot/tasks-and-spawning.mdx
  apps/docs/client/src/content/deco-studio/en/studio/decopilot/tools.mdx
  apps/docs/client/src/content/deco-studio/en/studio/monitoring.mdx
  apps/docs/client/src/content/deco-studio/pt-br/studio/api-keys.mdx
  apps/docs/client/src/content/deco-studio/pt-br/studio/concepts.mdx
  apps/docs/client/src/content/deco-studio/pt-br/studio/decopilot/context.mdx
  apps/docs/client/src/content/deco-studio/pt-br/studio/decopilot/tasks-and-spawning.mdx
  apps/docs/client/src/content/deco-studio/pt-br/studio/decopilot/tools.mdx
  apps/docs/client/src/content/deco-studio/pt-br/studio/monitoring.mdx
Due: none

docs: audit fixes — correct outdated references, fix routing and navigation
  apps/docs/client/public/_redirects
  apps/docs/client/src/content/deco-studio/en/studio/decopilot/overview.mdx
  apps/docs/client/src/content/deco-studio/en/studio/decopilot/quickstart.mdx
  apps/docs/client/src/content/deco-studio/en/studio/quickstart.mdx
  apps/docs/client/src/content/deco-studio/en/studio/self-hosting/deploy/docker-compose.mdx
  apps/docs/client/src/content/deco-studio/en/studio/self-hosting/deploy/kubernetes.mdx
  apps/docs/client/src/content/deco-studio/en/studio/self-hosting/quickstart.mdx
  apps/docs/client/src/content/deco-studio/en/studio/virtual-mcps.mdx
  apps/docs/client/src/content/deco-studio/pt-br/studio/decopilot/overview.mdx
  apps/docs/client/src/content/deco-studio/pt-br/studio/decopilot/quickstart.mdx
  apps/docs/client/src/content/deco-studio/pt-br/studio/quickstart.mdx
  apps/docs/client/src/content/deco-studio/pt-br/studio/self-hosting/deploy/docker-compose.mdx
  apps/docs/client/src/content/deco-studio/pt-br/studio/self-hosting/deploy/kubernetes.mdx
  apps/docs/client/src/content/deco-studio/pt-br/studio/self-hosting/quickstart.mdx
  apps/docs/client/src/content/deco-studio/pt-br/studio/virtual-mcps.mdx
  apps/docs/client/src/pages/[version]/[locale]/[...slug].astro
  apps/docs/client/src/utils/navigation.ts
Due: fmt, lint

fix(ui): hide main panel toggle on org home
  apps/mesh/src/web/layouts/shell-layout.tsx
Due: fmt, lint

fix(ui): skip main panel on org home to prevent it stealing space
  apps/mesh/src/web/layouts/shell-layout.tsx
Due: fmt, lint

fix(ui): remove redundant chat/close toggles from tasks panel header
  apps/mesh/src/web/components/chat/side-panel-tasks.tsx
Due: fmt, lint

fix(ui): consistent icon button styles in tasks panel + always-open search
  apps/mesh/src/web/components/chat/tasks-panel.tsx
Due: fmt, lint

docs: fix redirects for old /latest URLs and root page
  apps/docs/client/src/pages/[version]/[locale]/[...slug].astro
  apps/docs/client/src/pages/index.astro
Due: none

Change contact email from contact@ to builders@
  README.md
Due: fmt

Change contact email from contact@ to builders@ (#2891)
  README.md
Due: fmt

feat(decopilot): enhance route creation with new model and logging
  packages/typegen/src/codegen.test.ts
  packages/typegen/src/codegen.ts
Due: fmt, lint

feat(decopilot): enhance route creation with new model and logging (#2893)
  packages/typegen/src/codegen.test.ts
  packages/typegen/src/codegen.ts
Due: fmt, lint

chore(typegen): bump version to 0.1.3
  packages/typegen/package.json
Due: fmt

fix(ui): toggle search in tasks panel + uniform size-7/size-16 icon buttons
  apps/mesh/src/web/components/chat/tasks-panel.tsx
Due: fmt, lint

fix(ui): owner filter button active/hover state matches other icon buttons
  apps/mesh/src/web/components/chat/tasks-panel.tsx
Due: fmt, lint

fix(ui): remove persistent active state from owner filter button
  apps/mesh/src/web/components/chat/tasks-panel.tsx
Due: fmt, lint

fix(ui): use CollectionSearch component when search is open in tasks panel
  apps/mesh/src/web/components/chat/tasks-panel.tsx
Due: fmt, lint

feat(ui): add automation create/toggle in sidebar and ?main= central view API
  apps/mesh/src/api/routes/deco-sites.ts
  apps/mesh/src/web/components/chat/side-panel-tasks.tsx
  apps/mesh/src/web/components/chat/tasks-panel.tsx
  apps/mesh/src/web/components/icon-picker.tsx
  apps/mesh/src/web/index.tsx
  apps/mesh/src/web/routes/orgs/home/page.tsx
  apps/mesh/src/web/routes/space-home.tsx
  apps/mesh/src/web/views/automations/automations-tab.tsx
Due: fmt, lint

fix(cli): refresh env before migrations so DATABASE_URL is available
  apps/mesh/src/cli/commands/serve.ts
Due: fmt, lint

fix(cli): refresh env before migrations so DATABASE_URL is available (#2894)
  apps/mesh/src/cli/commands/serve.ts
Due: fmt, lint

fix(ci): resolve merge conflicts with main and clean up dead code
  apps/mesh/src/web/components/automations/run-history-section.tsx
  apps/mesh/src/web/components/chat/editable-task-title.tsx
  apps/mesh/src/web/components/chat/side-panel-tasks.tsx
  apps/mesh/src/web/components/chat/tasks-panel.tsx
  apps/mesh/src/web/components/chat/typewriter-title.tsx
  apps/mesh/src/web/components/sidebar/header/account-switcher/index.tsx
  apps/mesh/src/web/components/sidebar/header/index.tsx
  apps/mesh/src/web/hooks/use-settings-modal.ts
  apps/mesh/src/web/lib/task-status.ts
Due: fmt, lint

fix(ui): address PR review feedback — migration constraint, ref loops, debug logs, route matching
  apps/mesh/migrations/052-spaces.ts
  apps/mesh/migrations/053-spaces.ts
  apps/mesh/src/web/components/details/layout.tsx
  apps/mesh/src/web/hooks/use-project-sidebar-items.tsx
  apps/mesh/src/web/layouts/org-layout.tsx
Due: fmt, lint

feat(ui): add new task button in toolbar and fix chat panel default width
  apps/mesh/src/web/layouts/shell-layout.tsx
Due: fmt, lint

feat(ui): restore sidebar alignment and chat panel fixes after rebase
  apps/mesh/src/web/components/sidebar/navigation.tsx
Due: fmt, lint

fix(ui): fix connection create dialog navigation route
  apps/mesh/src/web/routes/orgs/connections.tsx
Due: fmt, lint

fix(cli): use fresh database URL for Better Auth migrations
  apps/mesh/src/auth/migrate.ts
Due: fmt, lint

fix(cli): use fresh database URL for Better Auth migrations (#2895)
  apps/mesh/src/auth/migrate.ts
Due: fmt, lint

fix(chat): animate user message expand with larger max-height
  apps/mesh/src/web/components/chat/message/user.tsx
Due: fmt, lint

fix(chat): animate user message expand with larger max-height (#2896)
  apps/mesh/src/web/components/chat/message/user.tsx
Due: fmt, lint

fix(ui): prevent dark mode flash and align readme with app theme
  apps/mesh/index.html
  apps/mesh/src/web/components/readme/readme-viewer.tsx
Due: fmt, lint

feat(connection): implement deriveConnectionSlug function for URL-friendly slugs
  apps/mesh/src/tools/connection/list.ts
  apps/mesh/src/web/components/details/connection/index.tsx
Due: fmt, lint

refactor(binding-selector): optimize connection filtering logic
  apps/mesh/src/web/components/binding-selector.tsx
Due: fmt, lint

fix(ui): add white background to provider logos in dark mode
  apps/mesh/src/web/components/chat/select-model.tsx
  apps/mesh/src/web/components/manage-roles-dialog.tsx
  apps/mesh/src/web/components/settings-modal/pages/org-ai-providers.tsx
Due: fmt, lint

refactor(server-client-bridge): enhance tools response handling to prevent caching issues
  packages/mesh-sdk/src/lib/server-client-bridge.ts
Due: fmt, lint

feat(settings): add theme mode selector (light/dark/system) (#2859)
  apps/mesh/index.html
  apps/mesh/src/web/components/agent-icon.tsx
  apps/mesh/src/web/components/chat/input.tsx
  apps/mesh/src/web/components/chat/select-model.tsx
  apps/mesh/src/web/components/integration-icon.tsx
  apps/mesh/src/web/components/manage-roles-dialog.tsx
  apps/mesh/src/web/components/readme/readme-viewer.tsx
  apps/mesh/src/web/components/settings-modal/pages/account-preferences.tsx
  apps/mesh/src/web/components/settings-modal/pages/org-ai-providers.tsx
  apps/mesh/src/web/globals.d.ts
  apps/mesh/src/web/hooks/use-preferences.ts
  apps/mesh/src/web/providers/theme-provider.tsx
  packages/ui/src/components/input.tsx
  packages/ui/src/components/textarea.tsx
  packages/ui/src/styles/global.css
Due: fmt, lint

refactor(server-client-bridge): enhance tools response handling to prevent caching issues (#2897)
  packages/mesh-sdk/src/lib/server-client-bridge.ts
Due: fmt, lint

chore(mesh-sdk): bump version to 1.2.2
  packages/mesh-sdk/package.json
Due: fmt

Path conditions:
  fmt: any of: *.{ts,tsx,js,jsx,json,md}
  lint: any of: *.{ts,tsx,js,jsx}
