Repository decocms/mesh: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, lint

lefthook.yml:

# Lefthook configuration for mesh monorepo
# Install: npx lefthook install

pre-commit:
  parallel: true
  commands:
    fmt:
      glob: "*.{ts,tsx,js,jsx,json,md}"
      run: bunx biome format --write {staged_files}
      stage_fixed: true
    lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: bunx oxlint {staged_files}

refactor(chat): improve task stream management and message invalidation logic
  apps/mesh/src/web/components/chat/context.tsx
Due: fmt, lint

Rename MCP Mesh to deco Studio in README (#2633)
  README.md
Due: fmt

refactor(chat): improve task stream management and message invalidation logic (#2643)
  apps/mesh/src/web/components/chat/context.tsx
Due: fmt, lint

fix: override fast-xml-parser to 5.4.2 to fix broken file: dependency
  package.json
Due: fmt

chore: apply biome formatting
  apps/mesh/src/api/app.ts
  apps/mesh/src/monitoring/ndjson-exporter.test.ts
Due: fmt, lint

feat(monitoring): extract generic NDJSONExporter base class
  apps/mesh/src/monitoring/ndjson-exporter.test.ts
  apps/mesh/src/monitoring/ndjson-exporter.ts
Due: fmt, lint

fix(monitoring): fix bufferBytes drift on flush failure, add hrTime tests and v:1 assertion
  apps/mesh/src/monitoring/ndjson-exporter.ts
  apps/mesh/src/monitoring/ndjson-log-exporter.test.ts
  apps/mesh/src/monitoring/schema.test.ts
Due: fmt, lint

refactor(scripts): merge dev-local-worktree into dev-worktree with --local flag
  package.json
  scripts/dev-local-worktree.ts
  scripts/dev-worktree.ts
Due: fmt, lint

fix(database): move default PGlite path to ~/deco/system/db.pglite
  apps/mesh/src/cli.ts
  apps/mesh/src/database/index.ts
Due: fmt, lint

fix: force docker image rebuild for 2.158.2
  apps/mesh/package.json
Due: fmt

fix: revert npm propagation wait back to 30s
  .github/workflows/release.yaml
Due: none

fix: revert npm propagation wait back to 30s (#2647)
  .github/workflows/release.yaml
Due: none

fix(event-bus): prevent auth errors from triggering infinite retry loops (#DECO-407)
  apps/mesh/src/event-bus/interface.ts
  apps/mesh/src/event-bus/notify.ts
  apps/mesh/src/event-bus/worker.test.ts
  apps/mesh/src/event-bus/worker.ts
Due: fmt, lint

fix: bump to 2.160.1 for docker image rebuild
  apps/mesh/package.json
Due: fmt

fix(chat): prevent infinite update loop in ModelAutoSelector on new project
  apps/mesh/src/web/components/chat/context.tsx
Due: fmt, lint

fix: bump to 2.160.2, fix npm package name and CMD in Dockerfile (#2651)
  apps/mesh/Dockerfile
Due: none

fix(event-bus): prevent auth errors from triggering infinite retry loops (#2649)
  apps/mesh/src/event-bus/errors.ts
  apps/mesh/src/event-bus/notify.ts
  apps/mesh/src/event-bus/worker.test.ts
  apps/mesh/src/event-bus/worker.ts
  apps/mesh/src/storage/event-bus.ts
Due: fmt, lint

fix(docs): repair broken URLs and links from PR review feedback
  apps/docs/client/src/components/ui/Sidebar.tsx
  apps/docs/client/src/content/2025-10-10/en/mcp-mesh/mcp-gateways.mdx
  apps/docs/client/src/content/2025-10-10/pt-br/mcp-mesh/mcp-gateways.mdx
  apps/docs/client/src/content/2026-03-10/en/mcp-mesh/api-keys.mdx
  apps/docs/client/src/content/2026-03-10/en/mcp-mesh/self-hosting/deploy/docker-compose.mdx
  apps/docs/client/src/content/2026-03-10/en/mcp-mesh/self-hosting/deploy/kubernetes.mdx
  apps/docs/client/src/content/2026-03-10/pt-br/mcp-mesh/api-keys.mdx
  apps/docs/client/src/content/2026-03-10/pt-br/mcp-mesh/self-hosting/deploy/docker-compose.mdx
  apps/docs/client/src/content/2026-03-10/pt-br/mcp-mesh/self-hosting/deploy/kubernetes.mdx
  apps/docs/server/main.ts
Due: fmt, lint

fix(auth): disable auto-login when NODE_ENV is already production
  apps/mesh/src/cli.ts
Due: fmt, lint

fix(cli): restore Deco Studio branding in CLI
  apps/mesh/src/cli.ts
Due: fmt, lint

chore: rename MCP Mesh to Deco Studio across codebase
  .cursor/skills/add-mcp-tools/SKILL.md
  .github/workflows/release.yaml
  AGENTS.md
  apps/docs/client/src/utils/navigation.ts
  apps/mesh/index.html
  apps/mesh/migrations/001-initial-schema.ts
  apps/mesh/migrations/008-event-bus.ts
  apps/mesh/src/api/app.ts
  apps/mesh/src/api/index.ts
  apps/mesh/src/api/routes/self.ts
  apps/mesh/src/auth/index.ts
  apps/mesh/src/core/access-control.ts
  apps/mesh/src/core/constants.ts
  apps/mesh/src/database/index.ts
  apps/mesh/src/event-bus/index.ts
  apps/mesh/src/index.ts
  apps/mesh/src/mcp-apps/use-app-bridge.ts
  apps/mesh/src/observability/index.ts
  apps/mesh/src/storage/types.ts
  apps/mesh/src/tools/index.ts
  apps/mesh/src/tools/virtual-tool/schema.ts
  apps/mesh/src/web/components/chat/side-panel-chat.tsx
  deploy/README.md
  packages/bindings/src/well-known/event-subscriber.ts
  packages/mesh-plugin-user-sandbox/README.md
  packages/mesh-plugin-user-sandbox/server/utils/registry-lookup.ts
  packages/mesh-plugin-workflows/README.md
Due: fmt, lint

fix(typegen): inline extra type aliases from nullable/described properties in generated client code
  packages/typegen/src/codegen.test.ts
  packages/typegen/src/codegen.ts
Due: fmt, lint

bump
  packages/typegen/package.json
Due: fmt

feat(docs): migrate from Deco deploy to Cloudflare Pages
  .github/workflows/deploy-docs.yaml
  apps/docs/astro.config.mjs
  apps/docs/client/public/_redirects
  apps/docs/package.json
  apps/docs/server/main.ts
  apps/docs/wrangler.toml
Due: fmt, lint

feat(projects): move from experimental to stable (#2658)
  apps/mesh/src/web/components/settings-modal/index.tsx
  apps/mesh/src/web/components/settings-modal/pages/account-experimental.tsx
  apps/mesh/src/web/components/settings-modal/sidebar.tsx
  apps/mesh/src/web/components/sidebar/header/account-switcher/index.tsx
  apps/mesh/src/web/components/sidebar/index.tsx
  apps/mesh/src/web/hooks/use-preferences.ts
  apps/mesh/src/web/hooks/use-project-sidebar-items.tsx
  apps/mesh/src/web/hooks/use-settings-modal.ts
  apps/mesh/src/web/layouts/shell-layout.tsx
Due: fmt, lint

fix(docs): use bunx to invoke wrangler in deploy workflow (#2661)
  .github/workflows/deploy-docs.yaml
Due: none

trigger release
  apps/mesh/src/api/routes/decopilot/constants.ts
Due: fmt, lint

fix(cli): reset ENCRYPTION_KEY to an empty string if not found in saved secrets
  apps/mesh/src/cli.ts
Due: fmt, lint

fix(deploy): reorganize structure and update helm chart naming
  apps/docs/client/src/content/2026-03-10/en/mcp-mesh/self-hosting/deploy/docker-compose.mdx
  apps/docs/client/src/content/2026-03-10/pt-br/mcp-mesh/self-hosting/deploy/docker-compose.mdx
  deploy/README.md
  deploy/conf-examples/auth-config-sso-email.json.example
  deploy/conf-examples/auth-config.json.example
  deploy/conf-examples/env.example
  deploy/docker-compose/docker-compose.postgres.yml
  deploy/docker-compose/docker-compose.yml
  deploy/helm/Chart.yaml
  deploy/helm/examples/secrets-example.yaml
  deploy/helm/templates/NOTES.txt
  deploy/helm/templates/_helpers.tpl
  deploy/helm/templates/configmap-auth.yaml
  deploy/helm/templates/configmap-ca-cert.yaml
  deploy/helm/templates/configmap-otel-collector.yaml
  deploy/helm/templates/configmap.yaml
  deploy/helm/templates/deployment.yaml
  deploy/helm/templates/hpa.yaml
  deploy/helm/templates/pvc.yaml
  deploy/helm/templates/secret.yaml
  deploy/helm/templates/service.yaml
  deploy/helm/templates/serviceaccount.yaml
  deploy/helm/templates/validations.yaml
  deploy/helm/values.yaml
Due: fmt

feat(monitoring): always write local NDJSON files and add trace exporter
  apps/mesh/src/api/app.ts
  apps/mesh/src/auth/local-mode.ts
  apps/mesh/src/cli.ts
  apps/mesh/src/database/index.ts
  apps/mesh/src/monitoring/ndjson-trace-exporter.ts
  apps/mesh/src/monitoring/query-engine.test.ts
  apps/mesh/src/monitoring/schema.test.ts
  apps/mesh/src/monitoring/schema.ts
  apps/mesh/src/observability/index.ts
Due: fmt, lint

feat(env): add ASCII art banner and defer config logging
  apps/mesh/src/env.ts
  apps/mesh/src/index.ts
Due: fmt, lint

fix: clear file input after read so re-selecting same image works
  apps/mesh/src/web/components/logo-upload.tsx
Due: fmt, lint

ci: parallelize workflow jobs and add caching
  .github/workflows/e2e.yml
  .github/workflows/test.yml
Due: none

ci: shard tests across 4 parallel runners
  .github/workflows/test.yml
Due: none

ci: parallelize workflow jobs and add caching (#2674)
  .github/workflows/e2e.yml
  .github/workflows/test.yml
Due: none

fix(monitoring): use Promise.allSettled in flushMonitoringData to avoid fail-fast
  apps/mesh/src/observability/index.ts
Due: fmt, lint

feat(monitoring): add server-side metric timeseries queries
  apps/mesh/src/core/context-factory.ts
  apps/mesh/src/storage/monitoring-clickhouse.ts
  apps/mesh/src/storage/ports.ts
  apps/mesh/src/tools/monitoring/stats.ts
Due: fmt, lint

fix(monitoring): address PR review findings for metric timeseries
  apps/mesh/src/monitoring/ndjson-metric-exporter.test.ts
  apps/mesh/src/observability/index.ts
  apps/mesh/src/storage/histogram-helpers.test.ts
  apps/mesh/src/storage/monitoring-clickhouse.ts
  apps/mesh/src/storage/ports.ts
Due: fmt, lint
