Repository decocms/mesh: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, lint

lefthook.yml:

# Lefthook configuration for mesh monorepo
# Install: npx lefthook install

pre-commit:
  parallel: true
  commands:
    fmt:
      glob: "*.{ts,tsx,js,jsx,json,md}"
      run: bunx biome format --write {staged_files}
      stage_fixed: true
    lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: bunx oxlint {staged_files}

chore: remove GitHub CLI connection from Connect Studio
  apps/mesh/src/api/routes/decopilot/routes.ts
  apps/mesh/src/web/components/connect-studio-modal.tsx
Due: fmt, lint

fix(connections): default to token auth when no oauth_config exists
  apps/mesh/src/tools/connection/authenticate.ts
Due: fmt, lint

fix(chat): fall back to API key input when OAuth discovery fails
  apps/mesh/src/web/components/chat/message/parts/tool-call-part/connection-auth.tsx
Due: fmt, lint

fix(connections): show Needs API Key in detail page sidebar
  apps/mesh/src/web/components/details/connection/connection-sidebar.tsx
Due: fmt, lint

fix(connections): check connection_token before showing Needs API Key in list
  apps/mesh/src/web/routes/orgs/connections.tsx
Due: fmt, lint

chore: remove out-of-scope changes to slim down PR
  .gitignore
  apps/mesh/package.json
  apps/mesh/src/mcp-clients/outbound/index.ts
  apps/mesh/src/mcp-clients/virtual-mcp/code-execution.ts
  apps/mesh/src/tools/code-execution/describe.ts
  apps/mesh/src/tools/code-execution/run.ts
  apps/mesh/src/tools/code-execution/search.ts
  apps/mesh/src/tools/code-execution/utils.ts
  apps/mesh/src/web/components/details/connection/index.tsx
  apps/mesh/src/web/components/sidebar/footer/inbox.tsx
  conductor.json
  packages/cli/src/commands.ts
  packages/cli/src/commands/tools/mcp-serve.ts
  packages/mesh-sdk/src/lib/usage.ts
Due: fmt, lint

feat(chat): plan mode UI — fix CLS, purple styling, plan rendering with approval flow
  apps/mesh/src/api/routes/decopilot/claude-code-provider.ts
  apps/mesh/src/api/routes/decopilot/routes.ts
  apps/mesh/src/api/routes/decopilot/schemas.ts
  apps/mesh/src/api/routes/decopilot/stream-core.ts
  apps/mesh/src/api/routes/decopilot/types.ts
  apps/mesh/src/web/components/chat/context.tsx
  apps/mesh/src/web/components/chat/input.tsx
  apps/mesh/src/web/components/chat/message/assistant.tsx
  apps/mesh/src/web/components/chat/message/pair.tsx
  apps/mesh/src/web/components/chat/message/use-filter-parts.ts
  apps/mesh/src/web/components/chat/store/chat-store.ts
  apps/mesh/src/web/components/chat/store/types.ts
  apps/mesh/src/web/components/chat/types.ts
Due: fmt, lint

fix(chat): use timestamp-based auth card detection instead of SDK events
  apps/mesh/src/api/routes/decopilot/claude-code-provider.ts
  apps/mesh/src/api/routes/decopilot/stream-core.ts
Due: fmt, lint

fix(chat): render reasoning blocks inline where they occur in message flow
  apps/mesh/src/web/components/chat/message/assistant.tsx
Due: fmt, lint

fix(chat): correct token counting, persist reasoning, track tool calls in monitoring
  apps/mesh/src/api/routes/decopilot/claude-code-provider.ts
  apps/mesh/src/api/routes/decopilot/stream-core.ts
Due: fmt, lint

fix(chat): remove unused tool-approval-registry (fixes knip CI)
  apps/mesh/src/api/routes/decopilot/tool-approval-registry.ts
Due: fmt, lint

fix(chat): restore main's connection-sidebar, remove dead modal (fixes CI)
  apps/mesh/src/web/components/connections/connection-instances-modal.tsx
  apps/mesh/src/web/components/details/connection/connection-sidebar.tsx
Due: fmt, lint

fix(chat): revert connections.tsx and modal changes — already shipped in main
  apps/mesh/src/web/components/connections/connection-instances-modal.tsx
  apps/mesh/src/web/routes/orgs/connections.tsx
Due: fmt, lint

feat(env): add Deco AI Gateway configuration options
  apps/mesh/src/ai-providers/adapters/deco-ai-gateway.ts
  apps/mesh/src/ai-providers/registry.ts
  apps/mesh/src/env.ts
Due: fmt, lint

fix(chat): add missing cn import in no-llm-binding-empty-state
  apps/mesh/src/web/components/chat/no-llm-binding-empty-state.tsx
Due: fmt, lint

fix(nav): use href construction to avoid TanStack Router params type error
  apps/mesh/src/web/routes/orgs/project-settings/settings-sidebar.tsx
Due: fmt, lint

feat(nav): rename Configure to Settings and route directly within project context (#2748)
  apps/mesh/src/web/components/sidebar/navigation.tsx
  apps/mesh/src/web/hooks/use-project-sidebar-items.tsx
  apps/mesh/src/web/index.tsx
  apps/mesh/src/web/routes/orgs/project-settings/layout.tsx
  apps/mesh/src/web/routes/orgs/project-settings/settings-sidebar.tsx
  apps/mesh/src/web/routes/projects-list.tsx
Due: fmt, lint

fix(mcp-apps): observe iframe content height when app doesn't report sizechange
  apps/mesh/src/mcp-apps/use-app-bridge.ts
Due: fmt, lint

revert: undo mcp-apps UI fixes (applied to abuja instead)
  apps/mesh/src/mcp-apps/mcp-app-renderer.tsx
  apps/mesh/src/mcp-apps/use-app-bridge.ts
  apps/mesh/src/web/components/details/tool.tsx
  packages/mesh-sdk/src/hooks/use-mcp-resources.ts
Due: fmt, lint

fix(deploy): address PR review feedback
  apps/docs/client/src/content/2026-03-10/en/mcp-mesh/self-hosting/deploy/docker-compose.mdx
  apps/docs/client/src/content/2026-03-10/pt-br/mcp-mesh/self-hosting/deploy/docker-compose.mdx
  deploy/helm/values.yaml
Due: none

fix(deploy): reorganize structure and update helm chart naming
  apps/docs/client/src/content/2026-03-10/en/mcp-mesh/self-hosting/deploy/docker-compose.mdx
  apps/docs/client/src/content/2026-03-10/pt-br/mcp-mesh/self-hosting/deploy/docker-compose.mdx
  deploy/README.md
  deploy/conf-examples/auth-config-sso-email.json.example
  deploy/conf-examples/auth-config.json.example
  deploy/conf-examples/env.example
  deploy/docker-compose/docker-compose.postgres.yml
  deploy/docker-compose/docker-compose.yml
  deploy/helm/Chart.yaml
  deploy/helm/examples/secrets-example.yaml
  deploy/helm/templates/NOTES.txt
  deploy/helm/templates/_helpers.tpl
  deploy/helm/templates/configmap-auth.yaml
  deploy/helm/templates/configmap-ca-cert.yaml
  deploy/helm/templates/configmap-otel-collector.yaml
  deploy/helm/templates/configmap.yaml
  deploy/helm/templates/deployment.yaml
  deploy/helm/templates/hpa.yaml
  deploy/helm/templates/pvc.yaml
  deploy/helm/templates/secret.yaml
  deploy/helm/templates/service.yaml
  deploy/helm/templates/serviceaccount.yaml
  deploy/helm/templates/validations.yaml
  deploy/helm/values.yaml
Due: fmt

fix(deploy): sync helm chart with upstream changes
  deploy/helm/templates/_helpers.tpl
  deploy/helm/templates/configmap-otel-collector.yaml
  deploy/helm/templates/configmap-s3-sync.yaml
  deploy/helm/templates/configmap.yaml
  deploy/helm/templates/deployment.yaml
  deploy/helm/templates/serviceaccount.yaml
  deploy/helm/values.yaml
Due: none

feat(deploy): replace helm chart with official chart from helm-chart-deco-mcp-mesh
  .github/workflows/publish-chart.yml
  deploy/helm/Chart.lock
  deploy/helm/Chart.yaml
  deploy/helm/charts/nats-2.12.5.tgz
  deploy/helm/examples/secrets-example.yaml
  deploy/helm/templates/NOTES.txt
  deploy/helm/templates/_helpers.tpl
  deploy/helm/templates/configmap-auth.yaml
  deploy/helm/templates/configmap-ca-cert.yaml
  deploy/helm/templates/configmap-otel-collector.yaml
  deploy/helm/templates/configmap-s3-sync.yaml
  deploy/helm/templates/configmap.yaml
  deploy/helm/templates/deployment.yaml
  deploy/helm/templates/hpa.yaml
  deploy/helm/templates/pvc.yaml
  deploy/helm/templates/secret.yaml
  deploy/helm/templates/service.yaml
  deploy/helm/templates/serviceaccount.yaml
  deploy/helm/templates/validations.yaml
  deploy/helm/values.yaml
Due: none

fix(deploy): rename helm chart from chart-deco-mcp-mesh to chart-deco-studio
  .github/workflows/publish-chart.yml
  deploy/helm/Chart.yaml
  deploy/helm/templates/NOTES.txt
  deploy/helm/templates/_helpers.tpl
  deploy/helm/templates/configmap-auth.yaml
  deploy/helm/templates/configmap-ca-cert.yaml
  deploy/helm/templates/configmap-otel-collector.yaml
  deploy/helm/templates/configmap-s3-sync.yaml
  deploy/helm/templates/configmap.yaml
  deploy/helm/templates/deployment.yaml
  deploy/helm/templates/hpa.yaml
  deploy/helm/templates/pvc.yaml
  deploy/helm/templates/secret.yaml
  deploy/helm/templates/service.yaml
  deploy/helm/templates/serviceaccount.yaml
  deploy/helm/templates/validations.yaml
  deploy/helm/values.yaml
Due: none

[chore]: add nicacioliveira to maintainers
  MAINTAINERS.txt
Due: none

fix(deploy): replace all remaining mesh references with deco studio
  deploy/docker-compose/docker-compose.postgres.yml
  deploy/docker-compose/docker-compose.yml
  deploy/helm/Chart.yaml
  deploy/helm/README.md
  deploy/helm/examples/secrets-example.yaml
  deploy/helm/img/deco-studio-infra-arch.jpg
  deploy/helm/values.yaml
Due: fmt

docs: fix kubernetes deploy command to use helm chart
  README.md
Due: fmt

fix(deploy): reorganize structure and rename helm chart (#2666)
  .github/workflows/publish-chart.yml
  MAINTAINERS.txt
  README.md
  apps/docs/client/src/content/2026-03-10/en/mcp-mesh/self-hosting/deploy/docker-compose.mdx
  apps/docs/client/src/content/2026-03-10/pt-br/mcp-mesh/self-hosting/deploy/docker-compose.mdx
  deploy/README.md
  deploy/conf-examples/auth-config-sso-email.json.example
  deploy/conf-examples/auth-config.json.example
  deploy/conf-examples/env.example
  deploy/docker-compose/docker-compose.postgres.yml
  deploy/docker-compose/docker-compose.yml
  deploy/helm/Chart.lock
  deploy/helm/Chart.yaml
  deploy/helm/README.md
  deploy/helm/charts/nats-2.12.5.tgz
  deploy/helm/examples/secrets-example.yaml
  deploy/helm/img/deco-studio-infra-arch.jpg
  deploy/helm/templates/NOTES.txt
  deploy/helm/templates/_helpers.tpl
  deploy/helm/templates/configmap-auth.yaml
  deploy/helm/templates/configmap-ca-cert.yaml
  deploy/helm/templates/configmap-otel-collector.yaml
  deploy/helm/templates/configmap-s3-sync.yaml
  deploy/helm/templates/configmap.yaml
  deploy/helm/templates/deployment.yaml
  deploy/helm/templates/hpa.yaml
  deploy/helm/templates/pvc.yaml
  deploy/helm/templates/secret.yaml
  deploy/helm/templates/service.yaml
  deploy/helm/templates/serviceaccount.yaml
  deploy/helm/templates/validations.yaml
  deploy/helm/values.yaml
Due: fmt

fix(services): stop removing postgres data dir on init failure and add error logging
  apps/mesh/src/services/ensure-services.ts
Due: fmt, lint

fix(services): stop removing postgres data dir on init failure and add error logging (#2750)
  apps/mesh/src/services/ensure-services.ts
Due: fmt, lint

fix(services): use createRequire for embedded-postgres dylib symlink resolution
  apps/mesh/src/services/ensure-services.ts
Due: fmt, lint

fix(stream-core): update title generation logic to use preferred fast model
  apps/mesh/src/api/routes/decopilot/stream-core.ts
  packages/mesh-sdk/src/lib/default-model.ts
Due: fmt, lint

fix(conversation): filter out empty message parts to prevent bricked threads
  apps/mesh/src/api/routes/decopilot/conversation.ts
  apps/mesh/src/api/routes/decopilot/stream-core.ts
Due: fmt, lint

fix(stream-core): enhance title generation logic with permission checks
  apps/mesh/src/api/routes/decopilot/stream-core.ts
Due: fmt, lint

feat(virtual-mcp): add NATS KV caching for tool lists
  apps/mesh/src/mcp-clients/virtual-mcp/index.ts
  apps/mesh/src/mcp-clients/virtual-mcp/passthrough-client.ts
  apps/mesh/src/mcp-clients/virtual-mcp/types.ts
Due: fmt, lint

feat(connections): inline connect from catalog cards
  apps/mesh/src/web/routes/orgs/connections.tsx
Due: fmt, lint

fix(connections): create new instance directly from detail view
  apps/mesh/src/web/components/connections/connection-instances-modal.tsx
  apps/mesh/src/web/components/details/connection/connection-detail-header.tsx
  apps/mesh/src/web/components/details/connection/connection-info-card.tsx
  apps/mesh/src/web/components/details/connection/connection-instances-panel.tsx
  apps/mesh/src/web/components/details/connection/index.tsx
  apps/mesh/src/web/index.tsx
  apps/mesh/src/web/lib/localstorage-keys.ts
  apps/mesh/src/web/routes/orgs/connections.tsx
  apps/mesh/src/web/routes/orgs/store/mcp-server-detail.tsx
Due: fmt, lint

fix(connections): make add instance a primary button
  apps/mesh/src/web/components/details/connection/connection-instances-panel.tsx
Due: fmt, lint

ai was lazy to commit this
  apps/mesh/src/web/components/details/connection/collection-tab.tsx
  apps/mesh/src/web/components/details/connection/connection-capabilities.tsx
  apps/mesh/src/web/components/details/connection/connection-instances-panel.tsx
  apps/mesh/src/web/components/details/connection/connection-ui-tab.tsx
  apps/mesh/src/web/components/details/connection/index.tsx
  apps/mesh/src/web/components/details/virtual-mcp/index.tsx
  apps/mesh/src/web/components/tools/tools-list.tsx
  apps/mesh/src/web/index.tsx
  apps/mesh/src/web/routes/orgs/agents.tsx
  apps/mesh/src/web/routes/orgs/automations.tsx
  apps/mesh/src/web/routes/orgs/collection-detail.tsx
  apps/mesh/src/web/routes/orgs/connections.tsx
Due: fmt, lint

fix(connections): use CSS grid with container queries for responsive connection detail layout
  apps/mesh/src/web/components/details/connection/index.tsx
Due: fmt, lint
